.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px -20px 0;
    justify-content: center;
  }
  &__item {
    margin: 0 30px 20px 0;
  }
  &__link {
    font-weight: 700;
    transition: color $trs1;
    &[data-touch], &[data-hover], &.is-active {
      color: var(--color-accent-2);
    }
  }
}

.socials {
  --size: 24px;
  --margin: 10px;
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: var(--margin);
    }
  }
  &__link {
    transition: color $trs1;
    width: var(--size);
    height: var(--size);
    display: block;
    font-size: 0;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2) !important;
    }
  }
}

.overlay {
  background-color: var(--color-overlay-background);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-bg-card {
  position: relative;
  overflow: hidden;
  transition: color $trs3;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--gradient-1);
    transform: translateY(100%);
    opacity: 0;
    transition: transform $trs3, opacity $trs3;
    will-change: transform, opacity;
    pointer-events: none;
  }
  & > * {
    position: relative;
    z-index: 2;
  }
  &[data-touch], &[data-hover] {
    color: var(--color-text-light);
    &::before {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.screen {
  min-height: 100vh;
}

.page-head {
  background: linear-gradient(301.95deg, #45108A 2.3%, #3D065F 29.86%, #10054D 101.35%);
  color: var(--color-text-light);
  overflow: hidden;
  padding: 0;
  &__container {
    padding-top: 122px;
    padding-bottom: 112px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    min-height: 460px;
  }
  &__title {
    grid-row: 2/3;
    margin: 0;
  }
  &__text {
    font-size: 1.125rem;
    grid-row: 3/4;
    margin-top: 20px;
    line-height: 2;
  }
  &__dots {
    width: var(--dots-width);
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    pointer-events: none;
  }
  &__dot {
    padding: 16px;
    opacity: 0;
    visibility: hidden;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #531679;
    }
  }
  @include media-breakpoint-up(lg) {
    .section__dots {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    &__dots {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 135px;
      padding-bottom: 70px;
    }
  }
}

.home-screen {
  padding: 148px 0 60px 0;
  display: flex;
  &__container {
    display: flex;
    align-items: center;
  }
  &__content {
    width: 800px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    max-width: 640px;
    font-size: 1.125rem;
  }
  &__button {
    margin-top: 40px;
  }
  &__items {
    display: flex;
    margin-top: 50px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
    .icon {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
      color: var(--color-accent-2);
    }
    span {
      display: block;
    }
  }
  &__check-list {
    font-size: 1.125rem;
    li {
      position: relative;
      padding-left: 36px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .icon {
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 1px;
        color: var(--color-accent-2);
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__content {
      width: 700px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 148px 0 80px 0;
    &__container {
      display: block;
    }
    &__content {
      width: 100%;
    }
    &__image {
      width: 400px;
      margin: 60px auto 0 auto;
    }
    &__title {
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 120px 0 40px 0;
    &__text {
      font-size: 1rem;
    }
    &__check-list {
      font-size: 1rem;
      .icon {
        top: 0;
      }
    }
    &__items {
      flex-wrap: wrap;
      margin-top: 20px;
      margin-right: -40px;
    }
    &__item {
      margin-top: 20px;
      margin-right: 20px !important;
      width: calc(50% - 20px);
      .icon {
        margin-bottom: 5px;
      }
      span {
        font-size: 0.875rem;
      }
    }
    &__image {
      width: 70vw;
    }
  }
}

.home {
  &__image {
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 113.7%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    &__image {
      position: absolute;
      width: 380px;
      top: 50%;
      transform: translateY(-50%);
      right: -70px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__image {
      width: 424px;
      right: var(--container-gutter-x);
    }
  }
}

.technology-screen {
  &__title {
    margin-bottom: 30px;
  }
  &__button {
    margin-top: 45px;
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      display: block;
      position: absolute;
      object-fit: contain;
      top: -17%;
      left: -9%;
      width: 119%;
      height: 130%;
    }
  }
  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    &__image {
      position: absolute;
      width: 370px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  @include media-breakpoint-up(xl) {
    &__image {
      width: 475px;
      right: 20px;
    }
  }
  @include media-breakpoint-down(md) {
    &__button {
      margin-top: 40px;
    }
  }
}


.we-create-section {
  &__title {
    margin-bottom: 4px;
  }
  &__sub-title {
    font-size: 1.75rem;
    max-width: 792px;
  }
  &__text-content {
    position: relative;
    margin-bottom: 85px;
  }
  @include media-breakpoint-up(lg) {
    &__image {
      position: absolute;
      width: 400px;
      height: auto;
      top: 50%;
      right: 36px;
      transform: translateY(-50%);
    }
  }
  @include media-breakpoint-up(xl) {
    &__image {
      width: 514px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__sub-title {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 10px;
    }
    &__image {
      max-width: 514px;
      margin: 30px auto 0 auto;
    }
    &__text-content {
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(md) {
    &__sub-title {
      font-size: 1.25rem;
    }
  }
}

.scroll-slider {
  &__nav {
    display: flex;
    flex-direction: column;
  }
  &__slider {
    position: relative;
  }
  &__nav-elements {
    display: flex;
    flex-direction: column;
    margin: 17px 0;
  }
  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__nav-element {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    &.is-active {
      pointer-events: none;
    }
  }
  &__button {
    width: 24px;
    height: 24px;
    opacity: 1 !important;
    .icon {
      width: 100%;
      height: 100%;
    }
  }
  &__button, &__nav-element {
    color: var(--nav-color);
    transition: color $trs1;
    &[data-touch], &[data-hover], &.is-active {
      color: var(--nav-color-active);
    }
  }
  @include media-breakpoint-up(lg) {
    .swiper-pagination, .swiper-navigation {
      display: none;
    }
  }
  @include media-breakpoint-between(sm, lg) {
    &__slider {
      overflow: hidden;
    }
  }
  @include media-breakpoint-down(lg) {
    .swiper-pagination {
      margin-top: 40px;
    }
    .swiper-container {
      overflow: visible;
      margin: 0 calc(var(--bs-gutter-x) / -2);
    }
    &__slide {
      padding: 0 calc(var(--bs-gutter-x) / 2);
    }
    &__nav {
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    .swiper-pagination {
      margin-top: 30px;
    }
  }
}

.we-create-slider {
  --nav-color: rgba(10, 37, 64, 0.5);
  --nav-color-active: var(--color-accent-1);
  align-items: center;
  &__nav {
    align-items: flex-end;
  }
  &__nav-elements {
    align-items: flex-end;
  }
  &__slide {
    & > .row {
      align-items: center;
    }
  }
  &__slide-image {
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 200%;
      }
      img {
        width: 120%;
        height: 111%;
        top: -1%;
        left: -1%;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__nav {
      transform: translateX(14px);
    }
    &__slide-image {
      .image {
        transform: translateX(10px);
        width: 215px;
        margin: 0 auto;
      }
    }
  }
  @include media-breakpoint-between(lg, xl) {
    &__slide-image {
      display: none;
    }
    &__slide-text {
      padding-left: var(--text-content-margin);
    }
  }
  @include media-breakpoint-between(md, lg) {
    margin-top: -40px;
    &__slide {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__slide-image {
      .image {
        width: 100%;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__slide-image {
      display: none;
    }
  }
}

.additional-benefits {
  @include media-breakpoint-up(lg) {
    &__title {
      margin-bottom: 50px;
      br {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      br {
        display: none;
      }
    }
  }
}

.additional-benefits-slider {
  --nav-color: rgba(255, 255, 255, 0.5);
  --nav-color-active: var(--color-accent-2);
  .swiper-pagination {
    --color: currentColor;
  }
  &__slide {
    .image {
      margin-bottom: 40px;
      &::before {
        content: '';
        display: block;
        padding-top: 54%;
      }
    }
  }
  &__slide-index {
    position: absolute;
    top: 40px;
    left: 40px;
    min-width: 1.3em;
    text-align: center;
    z-index: 2;
    color: rgba(255, 255, 255, 0.5);
  }
  @include media-breakpoint-down(lg) {
    &__slide {
      .image {
        margin-bottom: 25px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__slide-index {
      top: 20px;
      left: 20px;
    }
  }
}

.relevance-for-companies {
  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.relevance-cards {
  position: relative;
}
.relevance-card {
  &:nth-child(1), &:nth-child(3) {
    --bg: var(--gradient-2);
  }
  &:nth-child(2), &:nth-child(4) {
    --bg: var(--color-bg-card);
  }
  &__container {
    color: var(--color-text-light);
    background: var(--bg);
  }
  .image {
    margin-bottom: 20px;
    &::before {
      content: '';
      display: block;
      padding-top: 55%;
    }
  }
  @include media-breakpoint-up(lg) {
    --width: 588px;
    width: var(--width);
    position: absolute;
    pointer-events: none;
    &:not(.disabled) {
      cursor: pointer;
      &[data-touch], &[data-hover] {
        .relevance-card__container {
          transform: translateX(-10px);
        }
      }
    }
    &:nth-child(1) {
      padding-top: 60px;
    }
    &:nth-child(2) {
      padding-top: 40px;
      left: calc((100% - var(--width)) * 0.3333);
    }
    &:nth-child(3) {
      padding-top: 20px;
      left: calc((100% - var(--width)) * 0.6666);
    }
    &:nth-child(4) {
      right: 0;
    }
    &__icon {
      display: none;
    }
    &__head {
      position: absolute;
      width: 80px;
      height: 100%;
      left: 0;
      top: 0;
      color: rgba(255, 255, 255, 0.9);
      padding-top: 50px;
    }
    &__index {
      width: 80px;
      display: block;
      text-align: center;
    }
    &__container {
      pointer-events: all;
      padding: 50px 38px 100px 80px;
      height: 100%;
      border-radius: 4px 4px 0 0;
      transition: transform $trs2;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.12);
    }
    &__title {
      margin: 0;
      white-space: nowrap;
      position: absolute;
      right: 50%;
      top: calc(1.2em + 65px);
      transform-origin: right;
      transform: rotate(-90deg);
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      padding: 20px 30px;
      min-height: 90px;
      display: flex;
      align-items: center;
      position: relative;
    }
    &__index {
      margin: 0 10px 0 0;
    }
    &__icon {
      display: block;
      position: absolute;
      right: 30px;
      top: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid currentColor;
      &::before, &::after {
        content: '';
        display: block;
        padding-block-start: 0%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: currentColor;
        position: absolute;
        border-radius: 1px;
      }
      &::before {
        width: 16px;
        height: 2px;
      }
      &::after {
        width: 2px;
        height: 16px;
        transition: transform $trs3;
      }
    }
    &__content {
      position: relative;
      overflow: hidden;
    }
    &__content-inner {
      padding: 0 30px 30px 30px;
      position: absolute;
      width: 100%;
    }
    &.is-active {
      .relevance-card__icon {
        &::after {
          transform: translate(-50%, -50%) rotate(-90deg) ;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0 calc(var(--container-gutter-x) * -1);
    &__head {
      padding: 20px var(--container-gutter-x);
      min-height: 80px;
    }
    &__content-inner {
      padding: 0 var(--container-gutter-x) 30px var(--container-gutter-x);
    }
    &__index, &__title-element {
      font-size: 1.375rem;
    }
    &__icon {
      right: var(--container-gutter-x);
      width: 40px;
      height: 40px;
    }
  }
}

.text-block-bordered {
  padding: 70px 40px;
  background-color: var(--section-bg-light);
  color: var(--color-text-dark);
  border: 1px solid var(--color-border);
  @include media-breakpoint-down(xl) {
    padding: 40px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px var(--container-gutter-x);
  }
}

.payment-list {
  max-width: 520px;
  &__top, &__last {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px -20px 0;
  }
  &__last {
    margin-top: 20px;
  }
  &__item {
    margin: 0 20px 20px 0;
  }
  @include media-breakpoint-down(md) {
    &__top, &__last {
      justify-content: flex-start;
      margin: 0 calc(var(--container-gutter-x) * -1) calc(var(--container-gutter-x) * -1) 0;
    }
    &__last {
      margin-top: var(--container-gutter-x);
    }
    &__item {
      flex: 1 1 calc(25% - var(--container-gutter-x));
      max-width: calc(25% - var(--container-gutter-x));
      margin: 0 var(--container-gutter-x) var(--container-gutter-x) 0;
    }
  }
}

.section-warranty {
  &__cards {
    display: flex;
    margin-top: 110px;
  }
  &__card {
    padding: 60px 60px 80px 60px;
    background-color: var(--section-bg-light);
    width: 33.33%;
    border-width: 1px 0 1px 1px;
    border-color: var(--color-border);
    border-style: solid;
    &:last-child {
      border-width: 1px;
    }
    .image {
      width: 120px;
      height: 120px;
      margin-bottom: 10px;
    }
  }
  &__card-title {
    margin: 0;
  }
  @include media-breakpoint-down(lg) {
    &__cards {
      margin-top: 70px;
    }
    &__card {
      padding: 30px 30px 40px 30px;
      .image {
        margin: 0;
      }
    }
    &__card-title {
      font-size: 1.125rem;
      line-height: 1.3;
    }
  }
  @include media-breakpoint-down(md) {
    &__cards {
      flex-wrap: wrap;
    }
    &__card {
      flex: 1 1 100%;
      border-width: 1px 1px 0 1px;
      &:last-child {
        border-width: 1px;
      }
      .icon {
        width: 100px;
        height: 100px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__cards {
      margin-top: 60px;
    }
    &__card {
      padding: 20px var(--container-gutter-x) 30px var(--container-gutter-x);
    }
  }
}

.development-components {
  &__container {
    align-items: center;
    display: grid;
    grid-template-columns: 488px 1fr;
    grid-template-rows: auto auto;
  }
  &__head {
    grid-column: 2/3;
    padding-left: calc(var(--text-content-margin) + var(--container-gutter-x) / 2);
    margin-bottom: 20px;
  }
  &__slider {
    grid-row: 1/3;
  }
  &__text {
    grid-column: 2/3;
    padding-left: calc(var(--text-content-margin) + var(--container-gutter-x) / 2);
  }
  @include media-breakpoint-down(xl) {
    &__container {
      grid-template-columns: 420px 1fr;
    }
    &__slider {
      grid-row: 1/2;
    }
    &__text {
      grid-column: 1/3;
      padding: 0;
      margin-top: 40px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      grid-template-columns: 300px 1fr;
    }
    &__head {
      padding-left: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      display: block;
    }
    &__head {
      padding-left: 0;
      margin-bottom: 40px;
    }
  }
}

.development-slider {
  &__slide {
    padding: 60px;
    background: var(--gradient-1);
    color: var(--color-text-light);
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  &__slide-index {
    margin: 0;
  }
  &__slide-title {
    position: relative;
    z-index: 2;
    margin: 0;
    margin: 0;
  }
  &__slide-image {
    position: absolute;
    z-index: 1;
    &_1 {
      width: 420px;
      top: 55px;
      right: -75px;
    }
    &_2 {
      width: 290px;
      top: 50px;
      right: -32px;
    }
    &_3 {
      width: 210px;
      top: 25px;
      right: 55px;
    }
    &_4 {
      width: 350px;
      top: 70px;
      right: -82px;
    }
    &_5 {
      width: 240px;
      top: 110px;
      right: 40px;
    }
    &_6 {
      width: 220px;
      top: 70px;
      right: 20px;
    }
    &_7 {
      width: 170px;
      top: 60px;
      right: 20px;
    }
    &_8 {
      width: 230px;
      right: 20px;
      top: 90px;
    }
  }

  .swiper-button {
    position: absolute;
  }
  .swiper-button-prev {
    bottom: 40px;
    right: 80px;
  }
  .swiper-button-next {
    right: 40px;
    bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    .swiper-pagination {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    .swiper-pagination {
      --color: rgba(255, 255, 255, 0.3);
      --size: 10px;
      --between: 6px;
      position: absolute;
      right: 15px;
      bottom: 18px;
    }
    .swiper-button-prev, .swiper-button-next {
      bottom: 50%;
      transform: translateY(50%);
    }
    .swiper-button-prev {
      left: -18px;
      right: initial;
    }
    .swiper-button-next {
      right: -18px;
    }
    &__slide {
      height: 375px;
      padding: 60px 20px 40px 40px;
    }
    &__slide-index {
      font-size: 2rem;
    }
    &__slide-title {
      font-size: 1.125rem;
      line-height: 1.3;
    }
    &__slide-image {
      &_1 {
        width: 212px;
        top: 50px;
        right: -25px;
      }
      &_2 {
        width: 160px;
        top: 50px;
        right: -20px;
      }
      &_3 {
        width: 116px;
        top: 15px;
        right: 38px;
      }
      &_4 {
        width: 190px;
        top: 50px;
        right: -40px;
      }
      &_5 {
        width: 140px;
        top: 50px;
        right: 21px;
      }
      &_6 {
        width: 110px;
        top: 50px;
        right: 25px;
      }
      &_7 {
        width: 100px;
        top: 50px;
        right: 25px;
      }
      &_8 {
        width: 140px;
        top: 50px;
        right: 12px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__slide {
      padding: 40px 20px 40px 30px;
    }
    .swiper-button-prev {
      left: var(--container-gutter-x);
    }
    .swiper-button-next {
      right: var(--container-gutter-x);
    }
  }
}

.section-team {
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  @include media-breakpoint-between(lg, xl) {
    &__container {
      padding: 0 58px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__container {
      margin-bottom: calc(var(--bs-gutter-x) * -1);
    }
  }
}

.team-card {
  color: var(--color-text-light);
  text-align: center;
  &__container {
    position: relative;
    height: 100%;
    perspective: 1000px;
    
    &[data-hover], &.is-active {
      .team-card__front {
        transform: rotateY(180deg);
      }
      .team-card__back {
        transform: rotateY(0);
      }
    }
  }
  &__back, &__front {
    background: var(--gradient-1);
    border-radius: 4px;
    transition: transform $trs3;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform;
    height: 100%;
  }
  &__front {
    padding: 60px 30px;
  }
  &__back {
    padding: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__back-content {
    width: 100%;
  }
  &__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
  }
  &__title {
    margin: 0 0 10px 0;
    padding-bottom: 11px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: calc(100% - 40px);
      height: 1px;
      bottom: 0;
      left: 20px;
      position: absolute;
      background-color: currentColor;
      opacity: 0.5;
    }
  }
  &__position {
    position: relative;
    display: inline-flex;
    &::before, &::after {
      display: inline-block;
      content: '—';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      right: calc(100% + 5px);
    }
    &::after {
      left: calc(100% + 5px);
    }
  }
  &__link {
    display: inline-flex;
    position: relative;
    padding-left: 28px;
    font-size: 15px;
    line-height: 20px;
    .icon {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: -2px;
    }
    span {
      border-bottom: 1px solid currentColor;
      transition: border-color $trs1;
    }
    &[data-touch], &[data-hover] {
      span {
        border-color: transparent;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: var(--bs-gutter-x);
  }
  @include media-breakpoint-down(sm) {
    &__front {
      padding: 40px 30px;
    }
  }
}

.work-with-us {
  &__title {
    text-align: center;
    margin-bottom: 60px;
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    width: 33.33%;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: var(--color-border);
    padding: 80px 40px 100px 40px;
    background-color: var(--section-bg-light);
    &:last-child {
      border-width: 1px;
    }
  }
  &__block-index {
    display: block;
    margin-bottom: 10px;
    opacity: 0.2;
  }
  &__block-title {
    font-size: 1.75rem;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0;
  }

  @include media-breakpoint-down(xl) {
    &__block {
      padding: 40px 30px 80px 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 30px;
    }
    &__block {
      border-width: 1px 1px 0 1px;
      width: 100%;
      padding: 40px 40px 60px 40px;
      &:last-child {
        border-width: 1px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__block {
      padding: 30px var(--container-gutter-x);
    }
    &__block-title {
      font-size: 1.5rem;
    }
  }
}

.about-technology {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__block {
    background: var(--section-bg-light);
    border-color: var(--color-border);
    border-style: solid;
    text-align: center;
    padding: 40px 30px 70px 30px;
    .image {
      width: 120px;
      height: 120px;
      margin: 0 auto 10px auto;
    }
    &:nth-child(2) {
      border-width: 1px 0 0 1px;
    }
    &:nth-child(3) {
      border-width: 1px 1px 0 0;
    }
    &:nth-child(4) {
      border-width: 1px 0 1px 1px;
    }
    &:nth-child(5) {
      border-width: 1px 1px 1px 0;
    }
  }
  &__block-title {
    margin: 0;
  }
  &__large-block {
    text-align: center;
    grid-row: 1/3;
    grid-column: 2/3;
    border: 1px solid var(--color-border);
    background: var(--section-bg-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
    }
  }
  &__large-block-title {
    margin-top: 0;
  }

  @include media-breakpoint-down(lg) {
    &__block {
      padding: 40px 20px 45px 20px;
    }
    &__block-title {
      font-size: 1.125rem;
      line-height: 1.3;
    }
    &__large-block {
      .image {
        width: 174px;
        height: 174px;
      }
    }
    &__large-block-title {
      font-size: 2rem;
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }
    &__large-block {
      width: 100%;
      padding: 40px 0;
    }
    &__block {
      padding: 40px 0;
      width: 50%;
      &:nth-child(2) {
        border-width: 0 1px 1px 1px;
      }
      &:nth-child(3) {
        border-width: 0 1px 1px 0;
      }
      &:nth-child(4) {
        border-width: 0 1px 1px 1px;
      }
      &:nth-child(5) {
        border-width: 0 1px 1px 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__large-block {
      padding: 20px var(--container-gutter-x) 30px var(--container-gutter-x);
      .image {
        margin-bottom: 15px;
      }
    }
    &__large-block-title {
      font-size: 1.75rem;
    }
    &__block {
      padding: 20px 0 30px 0;
      width: 100%;
      &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        border-width: 0 1px 1px 1px;
      }
    }
  }
}

.what-is-included-slider {
  &__slide-inner {
    background: var(--color-accent-3) var(--gradient-1);
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
    padding: 60px 20px 40px 40px;
    position: relative;
    overflow: hidden;
  }
  &__slide-image {
    position: absolute;
    &_1 {
      width: 212px;
      top: 50px;
      right: -25px;
    }
    &_2 {
      width: 160px;
      top: 50px;
      right: -20px;
    }
    &_3 {
      width: 116px;
      top: 15px;
      right: 38px;
    }
    &_4 {
      width: 190px;
      top: 50px;
      right: -40px;
    }
    &_5 {
      width: 140px;
      top: 50px;
      right: 21px;
    }
    &_6 {
      width: 110px;
      top: 50px;
      right: 25px;
    }
    &_7 {
      width: 100px;
      top: 50px;
      right: 25px;
    }
    &_8 {
      width: 140px;
      top: 50px;
      right: 12px;
    }
  }
  &__slide-index {
    font-size: 2rem;
    margin: 0;
  }
  &__slide-title {
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 0;
  }

  @include media-breakpoint-up(xl) {
    &__slide-container {
      perspective: 1000px;
      &[data-hover], &[data-touch] {
        .what-is-included-slider__slide-inner {
          transform: rotateY(20deg);
        }
      }
    }
    &__slider-nav {
      display: none;
    }
    &__slide-inner {
      transition: transform .5s $out;
      will-change: transform;
    }
    .swiper-container {
      overflow: visible;
    }
    .swiper-wrapper {
      margin-bottom: calc(var(--bs-gutter-x) * -1);
      @include make-row();
    }
    &__slide {
      margin-bottom: var(--bs-gutter-x);
      @include make-col-ready();
      @include make-col(3);
    }
    .swiper-navigation {
      display: none;
    }
  }
  @include media-breakpoint-between(sm, xl) {
    &__slide {
      width: calc(282px + var(--bs-gutter-x)) !important;
    }
  }
  @include media-breakpoint-down(xl) {
    .swiper-container {
      margin: 0 calc(var(--bs-gutter-x) / -2);
      overflow: visible;
    }
    &__slide {
      padding: 0 calc(var(--bs-gutter-x) / 2);
    }
  }
}

.subscribe-form {
  @include media-breakpoint-up(sm) {
    display: flex;
    &__input {
      border-radius: 4px 0 0 4px;
      flex: 1 1 auto;
    }
    &__button {
      border-radius: 0 4px 4px 0;
      flex: 0 0 220px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__button {
      flex: 0 0 240px;
    }
  }
  @include media-breakpoint-down(md) {
    &__button {
      flex: 0 0 auto;
    }
  }
  @include media-breakpoint-down(sm) {
    &__button {
      width: 100%;
      margin-top: 20px;
    }
  }
}

.subscribe-line {
  padding: 60px 0;
  @include media-breakpoint-down(lg) {
    text-align: center;
  }
}

.subscribe-section {
  &__form {
    width: 690px;
  }
  &__head {
    margin-bottom: 40px;
    position: relative;
  }
  &__text {
    max-width: 690px;
    margin-top: 10px;
  }
  &__title {
    max-width: 792px;
    margin: 0;
  }
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 82%;
    }
  }
  &__post-text {
    display: block;
    opacity: 0.7;
    margin-top: 30px;
  }
  @include media-breakpoint-up(md) {
    &__button {
      position: absolute;
      right: var(--container-gutter-x);
      top: 24px;
    }
  }
  @include media-breakpoint-up(lg) {
    &__button {
      right: 85px;
    }
    &__image {
      position: absolute;
      width: 384px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @include media-breakpoint-up(xl) {
    &__button {
      right: 112px;
      top: 38px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__button {
      top: 42px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__form {
      width: 500px;
    }
    &__title {
      max-width: 500px;
    }
    &__text {
      max-width: 500px;
    }
    &__head {
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__form {
      width: 100%;
    }
    &__title {
      max-width: initial;
      br {
        display: none;
      }
      &_1 {
        max-width: 461px;
        padding-right: 20px;
        margin-bottom: 40px;
      }
    }
    &__image {
      max-width: 384px;
      margin: 30px auto 0 auto;
    }
    &__text {
      max-width: initial;
    }
  }
  @include media-breakpoint-down(md) {
    &__title {
      &_1 {
        padding: 0;
        max-width: initial;
        margin-bottom: 30px;
      }
    }
    &__button {
      margin-top: 40px;
    }
  }
}

.wide-text-card-container {
  @include media-breakpoint-up(xl) {
    display: grid;
    grid-auto-rows: 1fr;
  }
}

.wide-text-card {
  min-height: 260px;
  &_1 {
    padding: 60px;
  }
  &_2 {
    padding: 48px 60px;
  }
  position: relative;
  background-color: var(--section-bg-light);
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--color-border);
  &:last-child {
    border: 1px solid var(--color-border);
  }
  &__index {
    display: block;
    opacity: 0.2;
    margin-bottom: 10px;
  }
  &__title {
    margin-top: 0;
    &_1 {
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 1.3;    }
    &_2 {
      font-size: 1.125rem;
      margin-bottom: 10px;
    }
  }
  &__image {
    &_1 {
      width: 220px;
      height: 220px;
    }
    &_2 {
      width: 200px;
      height: 200px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__content {
      width: calc(100% - 280px);
    }
  }
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    &__image {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
    &__content {
      width: calc(100% - 230px);
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 40px;
    &__title {
      &_1 {
        font-size: 1.5rem;
      }
    }
  }
  @include media-breakpoint-down(md) {
    display: block;
    &__image {
      width: 200px;
      height: 200px;
      margin: 0 auto 10px auto;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 30px var(--container-gutter-x);
    &__title {
      &_1 {
        font-size: 1.25rem;
      }
    }
  }
}

.functional-benefits {
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
}

.system-speed-section {
  .swiper-container {
    margin: 0 calc(var(--bs-gutter-x) / -2);
    padding-top: 96px;
    overflow: visible;
  }
  .swiper-button {
    --color: var(--color-accent-2);
  }
  &__slide {
    padding: 0 calc(var(--bs-gutter-x) / 2);
    position: relative;
  }
  &__image {
    padding-top: 58px;
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 107%;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__slider {
      overflow: hidden;
    }
  }
  @include media-breakpoint-up(md) {
    .swiper-navigation {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
    &__slide-title {
      padding-right: 100px;
    }
  }
  @include media-breakpoint-up(lg) {
    .swiper-navigation {
      top: 36px;
    }
    &__slide-title {
      position: absolute;
      top: -20px;
      left: calc(var(--bs-gutter-x) / 2);
      width: calc(100% - var(--bs-gutter-x));
      margin: 0;
      transform: translateY(-100%);
    }
  }
  @include media-breakpoint-up(xl) {
    .swiper-navigation {
      top: 42px;
    }
    &__slider {
      margin-top: -38px;
    }
  }
  @include media-breakpoint-down(xl) {
    .swiper-container {
      padding-top: 86px;
    }
    &__image {
      padding-top: 86px;
    }
  }
  @include media-breakpoint-down(lg) {
    .swiper-container {
      padding: 0;
    }
    &__image {
      padding-top: 0;
      .image {
        &::before {
          padding-top: 74%;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .swiper-navigation {
      justify-content: flex-start;
      margin: 0 0 30px 0;
    }
  }
}

.text-box-grid {
  margin-bottom: -20px;
}

.text-box-element {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--section-bg-light);
  border: 1px solid var(--color-border);
  color: var(--color-text-dark);
  height: calc(100% - 20px);
  &__head {
    margin-bottom: 10px;
    display: flex;
    .icon {
      color: var(--color-accent-2);
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
  &__image {
    margin-bottom: 10px;
    &_1 {
      &::before {
        content: '';
        display: block;
        padding-top: 40%;
      }
    }
    &_2 {
      &::before {
        content: '';
        display: block;
        padding-top: 75.9%;
      }
    }
    &_3 {
      &::before {
        content: '';
        display: block;
        padding-top: 52%;
      }
    }
  }
  &__head-title {
    margin: 0;
  }
  @include media-breakpoint-up(md) {
    &_flex {
      display: flex;
    }
    &__flex-content {
      flex: 1 1 auto;
    }
    &__flex-image {
      flex: 0 0 224px;
      margin-right: 10px;
      .image {
        margin: 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 20px var(--container-gutter-x);
  }
}

.billing-secure-gateway {
  &__text-content {
    margin-bottom: 60px;
  }
}

.stability-and-resiliency {
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 65.8%;
    }
  }
}

.c-a-f-slider {
  --nav-color: rgba(255, 255, 255, 0.5);
  --nav-color-active: var(--color-accent-2);
  &__nav {
    padding-top: 58px;
  }
  @include media-breakpoint-down(lg) {
    .swiper-button {
      --color: var(--color-accent-2);
    }
  }
  @include media-breakpoint-between(md, lg) {
    .swiper-navigation {
      position: absolute;
      margin: 0;
      right: 0;
      top: 0;
    }
  }
  @include media-breakpoint-down(md) {
    .swiper-navigation {
      justify-content: flex-start;
      margin: 0 0 30px 0;
    }
  }
}

.functionality-slider {
  .swiper-container {
    overflow: visible;
  }
  .swiper-button {
    --color: var(--color-accent-2);
  }
  .swiper-wrapper {
    display: flex;
  }
  &__slide {
    height: initial;
    font-size: 15px;
    text-align: center;
    .image {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }
  &__slide-container {
    padding: 20px 10px 30px;
    background-color: var(--section-bg-light);
    color: var(--color-text-dark);
    border-style: solid;
    border-color: var(--color-border);
    height: 100%;
  }
  @include media-breakpoint-up(sm) {
    &__slide {
      width: 170px;
      &:last-child {
        .functionality-slider__slide-container {
          border-width: 1px;
        }
      }
    }
    &__slide-container {
      border-width: 1px 0 1px 1px;
    }
  }
  @include media-breakpoint-up(xl) {
    .swiper-navigation {
      display: none;
    }
    &__slide {
      flex: 1 1 14%;
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper-container {
      margin: 0 calc(var(--container-gutter-x) / -2);
    }
    &__slide {
      padding: 0 calc(var(--container-gutter-x) / 2);
    }
    &__slide-container {
      border-width: 1px;
    }
  }
}

.about-us {
  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 1px 0 0 1px;
  }
  &__block {
    width: calc(33.33% + 1px);
    margin: -1px 0 0 -1px;
    border: 1px solid var(--color-border);
    background-color: var(--section-bg-light);
    color: var(--color-text-dark);
    text-align: center;
    padding: 40px 60px 70px 60px;
    .image {
      width: 120px;
      height: 120px;
      margin: 0 auto 10px auto;
    }
  }
  &__block-title {
    margin: 0;
  }
  @include media-breakpoint-up(lg) {
    &__block-title {
      font-size: 1.25rem;
    }
  }
  @include media-breakpoint-down(lg) {
    &__block {
      padding: 40px 20px 45px 20px;
    }
  }
  @include media-breakpoint-down(md) {
    &__block {
      width: calc(50% + 1px);
    }
  }
  @include media-breakpoint-down(sm) {
    &__block {
      width: calc(100% + 1px);
      padding: 20px var(--container-gutter-x) 30px var(--container-gutter-x);
    }
  }
}

.articles-slider {
  .swiper-container {
    margin: 0 calc(var(--container-gutter-x) / -2);
    overflow: visible;
  }
  .swiper-wrapper {
    display: flex;
  }
  .swiper-button {
    --bg: transparent;
    --color: var(--color-accent-2);
  }
  .swiper-slide {
    height: initial;
    padding: 0 calc(var(--container-gutter-x) / 2);
  }
  @include media-breakpoint-between(sm, xl) {
    .swiper-slide {
      width: calc(384px + var(--container-gutter-x)) !important;
    }
  }
  @include media-breakpoint-between(sm, lg) {
    &__title {
      font-size: 2rem;
    }
  }
  @include media-breakpoint-up(md) {
    .swiper-navigation {
      position: absolute;
      right: 0;
      margin: 0;
      top: -67px;
    }
  }
  @include media-breakpoint-up(lg) {
    .swiper-navigation {
      top: -80px;
    }
  }
  @include media-breakpoint-up(xl) {
    .swiper-navigation {
      top: -83px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__slider {
      overflow: hidden;
    }
  }
  @include media-breakpoint-down(md) {
    .swiper-navigation {
      margin-bottom: 30px;
      justify-content: flex-start;
    }
  }
}

.article-card {
  &__container {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    &[data-touch], &[data-hover] {
      .article-card__image img {
        transform: scale(1.05);
      }
      .article-card__link {
        span {
          border-color: transparent;
        }
        .icon {
          transform: translateX(5px);
        }
      }
    }
  }
  &__label {
    background-color: var(--color-accent-4);
    color: var(--color-text-light);
    display: block;
    position: absolute;
    z-index: 3;
    border-radius: 4px;
    top: 20px;
    left: 20px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 8px 16px;
  }
  &__image {
    flex: 0 0 240px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--image-overlay);
    }
    img {
      transition: opacity $trs3, visibility $trs3, transform $trs2;
    }
  }
  &__content {
    flex: 1 1 auto;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-border);
    padding: 40px 40px 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__date {
    display: block;
    margin-bottom: 10px;
  }
  &__title {
    margin-top: 0;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    color: var(--color-accent-2);
    margin-top: 40px;
    span {
      border-bottom: 1px solid currentColor;
      transition: border-color $trs1;
      line-height: 1;
    }
    .icon {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      stroke-width: 2.5px;
      transition: transform $trs1;
    }
  }
  @include media-breakpoint-down(sm) {
    &__image {
      flex: 0 0 200px;
    }
    &__content {
      padding: 20px var(--container-gutter-x) 30px var(--container-gutter-x);
    }
    &__link {
      margin-top: 30px;
    }
    &__label {
      top: var(--container-gutter-x);
      left: var(--container-gutter-x);
    }
  }
}

.news-grid {
  display: grid;
  gap: var(--bs-gutter-x);
  &__element {
    grid-column: 1/3;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: 2fr 1fr;
    &__element {
      &_1 {
        grid-column: 1/2;
        grid-row: span 2;
      }
      &_2, &_3 {
        grid-column: 2/3;
      }
    }
  }
  @include media-breakpoint-between(sm, lg) {
    grid-template-columns: 1fr 1fr;
    &__element {
      &_2, &_3 {
        grid-column: span 1;
      }
    }
  }
}

.news-card {
  position: relative;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &[data-touch], &[data-hover] {
    .image img {
      transform: scale(1.05);
    }
    .news-card__content {
      transform: translateY(-5px);
    }
  }
  &_large {
    padding: 60px;
  }
  &_small {
    padding: 40px;
    min-height: 220px;
  }
  &__content {
    position: relative;
    z-index: 2;
    transition: transform $trs2;
    will-change: transform;
  }
  &__title {
    margin-top: 0;
  }
  &__date {
    display: block;
    margin-bottom: 10px;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--image-overlay);
    }
    img {
      will-change: transform;
      transition: opacity $trs3, visibility $trs3, transform $trs2;
    }
  }
  @include media-breakpoint-down(lg) {
    &_large {
      min-height: 450px;
      padding: 40px;
    }
  }
  @include media-breakpoint-down(md) {
    &_large {
      min-height: 350px;
    }
    &_small {
      padding: 30px 20px;
      min-height: 200px;
    }
  }
  @include media-breakpoint-down(sm) {
    &_large {
      min-height: 320px;
      padding: 30px var(--container-gutter-x) 20px var(--container-gutter-x);
    }
    &_small {
      padding: 30px var(--container-gutter-x) 20px var(--container-gutter-x);
      min-height: 180px;
    }
  }
}

.news-v-card {
  position: relative;
  display: flex;
  min-height: 220px;
  &_dark {
    background-color: var(--color-bg-card);
    color: var(--color-text-light);
  }
  &_light {
    background-color: var(--section-bg-light);
    .news-v-card__content {
      border-style: solid;
      border-color: var(--color-border);
    }
  }
  &__content {
    padding: 40px 60px;
    flex: 1 1 auto;
  }
  &__title {
    margin-bottom: 10px;
    display: block;
    transition: color $trs1;
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2);
    }
  }
  &__autor {
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    a {
      border-bottom: 1px solid currentColor;
      color: inherit;
      transition: border-color $trs1, opacity $trs1;
      opacity: 1 !important;
      &[data-touch], &[data-hover] {
        border-color: transparent;
      }
    }
  }
  .image {
    flex: 0 0 384px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--image-overlay);
    }
    img {
      transition: opacity $trs3, visibility $trs3, transform $trs2;
    }
    &[data-touch], &[data-hover] {
      img {
        transform: scale(1.05);
      }
    }
  }
  &__more {
    color: var(--color-accent-2);
    border-bottom: 1px solid currentColor;
    transition: border-color $trs1;
    &[data-touch], &[data-hover] {
      border-color: transparent;
    }
  }
  @include media-breakpoint-up(md) {
    &_light {
      .news-v-card__content {
        border-width: 1px 0 1px 1px;
      }
      .image ~ .news-v-card__content {
        border-width: 1px 1px 1px 0;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .image {
      flex: 0 0 220px;
    }
    &__content {
      padding: 40px;
    }
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
    &_light {
      .news-v-card__content {
        border-width: 0 1px 1px 1px;
      }
    }
    .image {
      order: 1;
      flex: 0 0 200px;
    }
    &__content {
      order: 2;
    }
  }
  @include media-breakpoint-down(sm) {
    .image {
      order: 1;
      flex: 0 0 180px;
    }
    &__autor {
      font-size: 0.875rem;
    }
    &__content {
      padding: 20px var(--container-gutter-x) 30px var(--container-gutter-x);
    }
  }
}