.nav {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    font-weight: 700;
    transition: color $trs2;
    &[data-touch], &[data-hover] {
      transition: color $trs1;
      color: var(--color-accent-2);
    }
    &.is-active {
      color: var(--color-accent-2);
      pointer-events: none;
    }
  }
}

.overlay {
  background-color: var(--color-overlay-background);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen {
  min-height: 100vh;
}

.page-head {
  background: linear-gradient(301.95deg, #45108A 2.3%, #3D065F 29.86%, #10054D 101.35%);
  color: var(--color-text-light);
  overflow: hidden;
  padding: 0;
  &__container {
    padding-top: 122px;
    padding-bottom: 112px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    min-height: 460px;
  }
  &__title {
    grid-row: 2/3;
    margin: 0;
  }
  &__text {
    font-size: 1.125rem;
    grid-row: 3/4;
    margin-top: 20px;
    line-height: 2;
  }
  &__dots {
    width: 1368px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    pointer-events: none;
  }
  &__dot {
    padding: 16px;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #531679;
    }
  }
}

.home-screen {
  padding: 148px 0 60px 0;
  display: flex;
  &__container {
    display: flex;
    align-items: center;
  }
  &__content {
    width: 800px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    max-width: 640px;
    font-size: 1.125rem;
  }
  &__button {
    margin-top: 40px;
  }
  &__items {
    display: flex;
    margin-top: 50px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
    .icon {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
      color: var(--color-accent-2);
    }
    span {
      display: block;
    }
  }
  &__check-list {
    font-size: 1.125rem;
    li {
      position: relative;
      padding-left: 36px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .icon {
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 1px;
        color: var(--color-accent-2);
      }
    }
  }
}

.home {
  &__image {
    position: absolute;
    width: 424px;
    top: 50%;
    transform: translateY(-50%);
    right: var(--container-gutter-x);
  }
}

.technology-screen {
  &__title {
    margin-bottom: 30px;
  }
  &__button {
    margin-top: 45px;
  }
  &__image {
    position: absolute;
    width: 475px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      display: block;
      position: absolute;
      object-fit: contain;
      top: -13%;
      left: -8%;
      width: 109%;
      height: 117%;
    }
  }
}


.we-create-section {
  &__title {
    margin-bottom: 4px;
  }
  &__sub-title {
    font-size: 1.75rem;
    max-width: 792px;
  }
  &__head {
    margin-bottom: 40px;
  }
  &__text-content {
    position: relative;
    margin-bottom: 85px;
  }
  &__image {
    position: absolute;
    width: 514px;
    height: auto;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
  }
}

.scroll-slider {
  &__button {
    opacity: 0.3;
    width: 24px;
    height: 24px;
    transition: opacity $trs1, color $trs1;
    .icon {
      width: 100%;
      height: 100%;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
  }
  &__nav-elements {
    display: flex;
    flex-direction: column;
    margin: 17px 0;
  }
  &__nav-element {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    opacity: 0.3;
    transition: opacity $trs1, color $trs1;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    &.is-active {
      pointer-events: none;
    }
  }
}

.we-create-slider {
  align-items: center;
  &__nav {
    align-items: flex-end;
    transform: translateX(14px);
  }
  &__nav-elements {
    align-items: flex-end;
  }
  &__button, &__nav-element {
    &[data-touch], &[data-hover], &.is-active {
      color: var(--color-accent-1);
    }
    &[data-touch], &[data-hover] {
      opacity: 0.8;
    }
    &[data-click], &.is-active {
      opacity: 1;
    }
  }
  &__slide {
    & > .row {
      align-items: center;
    }
  }
  &__slide-image {
    .image {
      transform: translateX(10px);
      width: 215px;
      margin: 0 auto;
      &::before {
        content: '';
        display: block;
        padding-top: 200%;
      }
      img {
        width: 120%;
        height: 111%;
        top: -1%;
        left: -1%;
      }
    }
  }
}