.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px -20px 0;
    justify-content: center;
  }
  &__item {
    margin: 0 30px 20px 0;
  }
  &__link {
    font-weight: 700;
    transition: color $trs1;
    &[data-touch], &[data-hover], &.is-active {
      color: var(--color-accent-2);
    }
    &.is-active {
      pointer-events: none;
    }
  }
}

.socials {
  --size: 24px;
  --margin: 10px;
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: var(--margin);
    }
  }
  &__link {
    transition: color $trs1;
    width: var(--size);
    height: var(--size);
    display: block;
    font-size: 0;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2);
    }
  }
}

.overlay {
  background-color: var(--color-overlay-background);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen {
  min-height: 100vh;
}

.page-head {
  background: linear-gradient(301.95deg, #45108A 2.3%, #3D065F 29.86%, #10054D 101.35%);
  color: var(--color-text-light);
  overflow: hidden;
  padding: 0;
  &__container {
    padding-top: 122px;
    padding-bottom: 112px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    min-height: 460px;
  }
  &__title {
    grid-row: 2/3;
    margin: 0;
  }
  &__text {
    font-size: 1.125rem;
    grid-row: 3/4;
    margin-top: 20px;
    line-height: 2;
  }
  &__dots {
    width: calc(var(--dots-width) + 32px);
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    pointer-events: none;
  }
  &__dot {
    padding: 16px;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #531679;
    }
  }
  @include media-breakpoint-up(lg) {
    .section__dots {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    &__dots {
      display: none;
    }
  }
}

.home-screen {
  padding: 148px 0 60px 0;
  display: flex;
  &__container {
    display: flex;
    align-items: center;
  }
  &__content {
    width: 800px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__text {
    max-width: 640px;
    font-size: 1.125rem;
  }
  &__button {
    margin-top: 40px;
  }
  &__items {
    display: flex;
    margin-top: 50px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
    .icon {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
      color: var(--color-accent-2);
    }
    span {
      display: block;
    }
  }
  &__check-list {
    font-size: 1.125rem;
    li {
      position: relative;
      padding-left: 36px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .icon {
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 1px;
        color: var(--color-accent-2);
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__content {
      width: 700px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 148px 0 80px 0;
    &__container {
      display: block;
    }
    &__content {
      width: 100%;
    }
    &__image {
      width: 400px;
      margin: 60px auto 0 auto;
    }
    &__title {
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 120px 0 40px 0;
    &__text {
      font-size: 1rem;
    }
    &__check-list {
      font-size: 1rem;
      .icon {
        top: 0;
      }
    }
    &__items {
      flex-wrap: wrap;
      margin-top: 20px;
      margin-right: -40px;
    }
    &__item {
      margin-top: 20px;
      margin-right: 20px !important;
      width: calc(50% - 20px);
      .icon {
        margin-bottom: 5px;
      }
      span {
        font-size: 0.875rem;
      }
    }
    &__image {
      width: 70vw;
    }
  }
}

.home {
  &__image {
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 113.7%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    &__image {
      position: absolute;
      width: 380px;
      top: 50%;
      transform: translateY(-50%);
      right: -70px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__image {
      width: 424px;
      right: var(--container-gutter-x);
    }
  }
}

.technology-screen {
  &__title {
    margin-bottom: 30px;
  }
  &__button {
    margin-top: 45px;
  }
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      display: block;
      position: absolute;
      object-fit: contain;
      top: -17%;
      left: -9%;
      width: 119%;
      height: 130%;
    }
  }
  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    &__image {
      position: absolute;
      width: 370px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  @include media-breakpoint-up(xl) {
    &__image {
      width: 475px;
      right: 20px;
    }
  }
  @include media-breakpoint-down(md) {
    &__button {
      margin-top: 40px;
    }
  }
}


.we-create-section {
  &__title {
    margin-bottom: 4px;
  }
  &__sub-title {
    font-size: 1.75rem;
    max-width: 792px;
  }
  &__head {
    margin-bottom: 40px;
  }
  &__text-content {
    position: relative;
    margin-bottom: 85px;
  }
  @include media-breakpoint-up(lg) {
    &__image {
      position: absolute;
      width: 400px;
      height: auto;
      top: 50%;
      right: 36px;
      transform: translateY(-50%);
    }
  }
  @include media-breakpoint-up(xl) {
    &__image {
      width: 514px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__sub-title {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 10px;
    }
    &__head {
      margin-bottom: 20px;
    }
    &__image {
      max-width: 514px;
      margin: 30px auto 0 auto;
    }
    &__text-content {
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(md) {
    &__sub-title {
      font-size: 1.25rem;
    }
  }
}

.scroll-slider {
  &__nav {
    display: flex;
    flex-direction: column;
  }
  &__nav-elements {
    display: flex;
    flex-direction: column;
    margin: 17px 0;
  }
  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__nav-element {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    &.is-active {
      pointer-events: none;
    }
  }
  &__button {
    width: 24px;
    height: 24px;
    .icon {
      width: 100%;
      height: 100%;
    }
  }
  &__button, &__nav-element {
    transition: color $trs1;
  }
  @include media-breakpoint-up(lg) {
    .swiper-pagination {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    &__nav {
      display: none;
    }
  }
}

.we-create-slider {
  align-items: center;
  &__nav {
    align-items: flex-end;
  }
  &__nav-elements {
    align-items: flex-end;
  }
  &__button, &__nav-element {
    color: rgba(10, 37, 64, 0.5);
    &[data-touch], &[data-hover], &.is-active {
      color: var(--color-accent-1);
    }
  }
  &__slide {
    & > .row {
      align-items: center;
    }
  }
  &__slide-image {
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 200%;
      }
      img {
        width: 120%;
        height: 111%;
        top: -1%;
        left: -1%;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__nav {
      transform: translateX(14px);
    }
    &__slide-image {
      .image {
        transform: translateX(10px);
        width: 215px;
        margin: 0 auto;
      }
    }
  }
  @include media-breakpoint-between(lg, xl) {
    &__slide-image {
      display: none;
    }
    &__slide-text {
      padding-left: var(--text-content-margin);
    }
  }
  @include media-breakpoint-between(md, lg) {
    margin: -40px 0 0 0;
    &__slide {
      padding: 40px 0;
    }
  }
  @include media-breakpoint-down(lg) {
    &__slide-image {
      .image {
        width: 100%;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .swiper-pagination {
      margin-top: 40px;
    }
    &__slide-image {
      display: none;
    }
  }
}

.additional-benefits {
  &__title {
    margin-bottom: 50px;
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 30px;
      br {
        display: none;
      }
    }
  }
}

.additional-benefits-slider {
  .swiper-pagination {
    --color: currentColor;
    margin-top: 40px;
  }
  &__button, &__nav-element {
    color: rgba(255, 255, 255, 0.5);
    &[data-touch], &[data-hover], &.is-active {
      color: var(--color-accent-2);
    }
  }
  &__slide {
    .image {
      margin-bottom: 40px;
      &::before {
        content: '';
        display: block;
        padding-top: 54%;
      }
    }
  }
  &__slide-index {
    position: absolute;
    top: 40px;
    left: 40px;
    min-width: 1.3em;
    text-align: center;
    z-index: 2;
    color: rgba(255, 255, 255, 0.5);
  }
  @include media-breakpoint-down(lg) {
    &__slide {
      .image {
        margin-bottom: 25px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__slide-index {
      top: 20px;
      left: 20px;
    }
  }
}

.relevance-for-companies {
  &__text-content {
    margin-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
    &__title {
      margin-bottom: 40px;
    }
    &__text-content {
      & > * {
        margin: 0;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__text-content {
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
  }
}

.relevance-cards {
  position: relative;
}
.relevance-card {
  &:nth-child(1), &:nth-child(3) {
    --bg: var(--gradient-2);
  }
  &:nth-child(2), &:nth-child(4) {
    --bg: var(--color-bg-card);
  }
  &__container {
    color: var(--color-text-light);
    background: var(--bg);
  }
  .image {
    margin-bottom: 20px;
    &::before {
      content: '';
      display: block;
      padding-top: 55%;
    }
  }
  @include media-breakpoint-up(lg) {
    --width: 588px;
    width: var(--width);
    position: absolute;
    pointer-events: none;
    &:not(.disabled) {
      cursor: pointer;
      &[data-touch], &[data-hover] {
        .relevance-card__container {
          transform: translateX(-10px);
        }
      }
    }
    &:nth-child(1) {
      padding-top: 60px;
    }
    &:nth-child(2) {
      padding-top: 40px;
      left: calc((100% - var(--width)) * 0.3333);
    }
    &:nth-child(3) {
      padding-top: 20px;
      left: calc((100% - var(--width)) * 0.6666);
    }
    &:nth-child(4) {
      right: 0;
    }
    &__icon {
      display: none;
    }
    &__head {
      position: absolute;
      width: 80px;
      height: 100%;
      left: 0;
      top: 0;
      color: rgba(255, 255, 255, 0.9);
      padding-top: 50px;
    }
    &__index {
      width: 80px;
      display: block;
      text-align: center;
    }
    &__container {
      pointer-events: all;
      padding: 50px 38px 100px 80px;
      height: 100%;
      border-radius: 4px 4px 0 0;
      transition: transform $trs2;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.12);
    }
    &__title {
      margin: 0;
      white-space: nowrap;
      position: absolute;
      right: 50%;
      top: calc(1.2em + 65px);
      transform-origin: right;
      transform: rotate(-90deg);
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      padding: 20px 30px;
      min-height: 90px;
      display: flex;
      align-items: center;
      position: relative;
    }
    &__index {
      margin: 0 10px 0 0;
    }
    &__icon {
      display: block;
      position: absolute;
      right: 30px;
      top: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid currentColor;
      &::before, &::after {
        content: '';
        display: block;
        padding-block-start: 0%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: currentColor;
        position: absolute;
        border-radius: 1px;
      }
      &::before {
        width: 16px;
        height: 2px;
      }
      &::after {
        width: 2px;
        height: 16px;
        transition: transform $trs3;
      }
    }
    &__content {
      position: relative;
      overflow: hidden;
    }
    &__content-inner {
      padding: 0 30px 30px 30px;
      position: absolute;
      width: 100%;
    }
    &.is-active {
      .relevance-card__icon {
        &::after {
          transform: translate(-50%, -50%) rotate(-90deg) ;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0 calc(var(--container-gutter-x) * -1);
    &__head {
      padding: 20px var(--container-gutter-x);
      min-height: 80px;
    }
    &__content-inner {
      padding: 0 var(--container-gutter-x) 30px var(--container-gutter-x);
    }
    &__index, &__title-element {
      font-size: 1.375rem;
    }
    &__icon {
      right: var(--container-gutter-x);
      width: 40px;
      height: 40px;
    }
  }
}

.text-block-bordered {
  padding: 70px 40px;
  background-color: var(--section-bg-light);
  border: 1px solid var(--color-border);
  @include media-breakpoint-down(xl) {
    padding: 40px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px var(--container-gutter-x);
  }
}

.payment-list {
  max-width: 520px;
  &__top, &__last {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px -20px 0;
  }
  &__last {
    margin-top: 20px;
  }
  &__item {
    margin: 0 20px 20px 0;
  }
  @include media-breakpoint-down(md) {
    &__top, &__last {
      justify-content: flex-start;
      margin: 0 calc(var(--container-gutter-x) * -1) calc(var(--container-gutter-x) * -1) 0;
    }
    &__last {
      margin-top: var(--container-gutter-x);
    }
    &__item {
      flex: 1 1 calc(25% - var(--container-gutter-x));
      max-width: calc(25% - var(--container-gutter-x));
      margin: 0 var(--container-gutter-x) var(--container-gutter-x) 0;
    }
  }
}

.section-warranty {
  &__top {
    align-items: center;
  }
  &__payment-list {
    margin-top: 80px;
  }
  &__cards {
    display: flex;
    margin-top: 110px;
  }
  &__card {
    padding: 60px 60px 80px 60px;
    background-color: var(--section-bg-light);
    width: 33.33%;
    border-width: 1px 0 1px 1px;
    border-color: var(--color-border);
    border-style: solid;
    overflow: hidden;
    position: relative;
    transition: color $trs3;
    &[data-touch], &[data-hover] {
      color: var(--color-text-light);
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
    & > * {
      position: relative;
      z-index: 2;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--gradient-1);
      transform: translateY(100%);
      opacity: 0;
      transition: transform $trs3, opacity $trs3;
      will-change: transform, opacity;
    }
    &:last-child {
      border-width: 1px;
    }
    .image {
      width: 120px;
      height: 120px;
      margin-bottom: 10px;
    }
  }
  &__card-title {
    margin: 0;
  }
  @include media-breakpoint-up(xl) {
    &__content {
      padding-left: var(--text-content-margin);
    }
  }
  @include media-breakpoint-down(xl) {
    &__content {
      margin-top: 60px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__cards {
      margin-top: 70px;
    }
    &__card {
      padding: 30px 30px 40px 30px;
      .image {
        margin: 0;
      }
    }
    &__card-title {
      font-size: 1.125rem;
      line-height: 1.3;
    }
    &__payment-list {
      margin: 40px auto 0 auto;
      width: 100%;
      max-width: 600px;
    }
    &__text {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-down(md) {
    &__cards {
      flex-wrap: wrap;
    }
    &__card {
      flex: 1 1 100%;
      border-width: 1px 1px 0 1px;
      &:last-child {
        border-width: 1px;
      }
      .icon {
        width: 100px;
        height: 100px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__cards {
      margin-top: 60px;
    }
    &__card {
      padding: 20px var(--container-gutter-x) 30px var(--container-gutter-x);
    }
    &__content {
      margin-top: 40px;
    }
  }
}

.development-components {
  &__title {
    margin-bottom: 40px;
  }
  &__container {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 488px 1fr;
    grid-template-rows: auto auto;
  }
  &__head {
    grid-column: 2/3;
    padding-left: calc(var(--text-content-margin) + var(--container-gutter-x) / 2);
    margin-bottom: 20px;
  }
  &__slider {
    grid-row: 1/3;
  }
  &__text {
    grid-column: 2/3;
    padding-left: calc(var(--text-content-margin) + var(--container-gutter-x) / 2);
  }
  @include media-breakpoint-down(xl) {
    &__container {
      grid-template-columns: 420px 1fr;
    }
    &__slider {
      grid-row: 1/2;
    }
    &__text {
      grid-column: 1/3;
      padding: 0;
      margin-top: 40px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 30px;
    }
    &__container {
      grid-template-columns: 300px 1fr;
    }
    &__head {
      padding-left: 30px;
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      display: block;
    }
    &__head {
      padding-left: 0;
      margin-bottom: 40px;
    }
  }
}

.development-slider {
  &__slide {
    padding: 60px;
    background: var(--gradient-1);
    color: var(--color-text-light);
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  &__slide-index {
    margin: 0;
  }
  &__slide-title {
    position: relative;
    z-index: 2;
    margin: 0;
  }
  &__slide-image {
    position: absolute;
    z-index: 1;
    &_1 {
      width: 420px;
      top: 55px;
      right: -75px;
    }
    &_2 {
      width: 290px;
      top: 50px;
      right: -32px;
    }
    &_3 {
      width: 210px;
      top: 25px;
      right: 55px;
    }
    &_4 {
      width: 350px;
      top: 70px;
      right: -82px;
    }
    &_5 {
      width: 240px;
      top: 110px;
      right: 40px;
    }
    &_6 {
      width: 220px;
      top: 70px;
      right: 20px;
    }
    &_7 {
      width: 170px;
      top: 60px;
      right: 20px;
    }
    &_8 {
      width: 230px;
      right: 20px;
      top: 90px;
    }
  }

  .swiper-button {
    position: absolute;
  }
  .swiper-button-prev {
    bottom: 40px;
    right: 80px;
  }
  .swiper-button-next {
    right: 40px;
    bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    .swiper-pagination {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    .swiper-pagination {
      --color: rgba(255, 255, 255, 0.3);
      --size: 10px;
      --between: 6px;
      position: absolute;
      right: 15px;
      bottom: 18px;
    }
    .swiper-button-prev, .swiper-button-next {
      bottom: 50%;
      transform: translateY(50%);
    }
    .swiper-button-prev {
      left: -18px;
      right: initial;
    }
    .swiper-button-next {
      right: -18px;
    }
    &__slide {
      height: 375px;
      padding: 60px 40px 40px 40px;
    }
    &__slide-title {
      font-size: 1.125rem;
      line-height: 1.3;
    }
    &__slide-image {
      &_1 {
        width: 212px;
        top: 50px;
        right: -25px;
      }
      &_2 {
        width: 160px;
        top: 50px;
        right: -20px;
      }
      &_3 {
        width: 116px;
        top: 15px;
        right: 38px;
      }
      &_4 {
        width: 190px;
        top: 50px;
        right: -40px;
      }
      &_5 {
        width: 140px;
        top: 50px;
        right: 21px;
      }
      &_6 {
        width: 110px;
        top: 50px;
        right: 25px;
      }
      &_7 {
        width: 100px;
        top: 50px;
        right: 25px;
      }
      &_8 {
        width: 140px;
        top: 50px;
        right: 12px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__slide {
      padding: 40px 30px 40px 30px;
    }
    .swiper-button-prev {
      left: var(--container-gutter-x);
    }
    .swiper-button-next {
      right: var(--container-gutter-x);
    }
  }
}

.section-team {
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  @include media-breakpoint-between(lg, xl) {
    &__container {
      padding: 0 58px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__container {
      margin-bottom: calc(var(--bs-gutter-x) * -1);
    }
  }
}

.team-card {
  color: var(--color-text-light);
  text-align: center;
  &__container {
    position: relative;
    height: 100%;
    perspective: 1000px;
    
    &[data-hover], &.is-active {
      .team-card__front {
        transform: rotateY(180deg);
      }
      .team-card__back {
        transform: rotateY(0);
      }
    }
  }
  &__back, &__front {
    background: var(--gradient-1);
    border-radius: 4px;
    transition: transform $trs3;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform;
    height: 100%;
  }
  &__front {
    padding: 60px 30px;
  }
  &__back {
    padding: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__back-content {
    width: 100%;
  }
  &__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
  }
  &__title {
    margin: 0 0 10px 0;
    padding-bottom: 11px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: calc(100% - 40px);
      height: 1px;
      bottom: 0;
      left: 20px;
      position: absolute;
      background-color: currentColor;
      opacity: 0.5;
    }
  }
  &__position {
    position: relative;
    display: inline-flex;
    &::before, &::after {
      display: inline-block;
      content: '—';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      right: calc(100% + 5px);
    }
    &::after {
      left: calc(100% + 5px);
    }
  }
  &__link {
    display: inline-flex;
    position: relative;
    padding-left: 28px;
    font-size: 15px;
    line-height: 20px;
    .icon {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: -2px;
    }
    span {
      border-bottom: 1px solid currentColor;
      transition: border-color $trs1;
    }
    &[data-touch], &[data-hover] {
      span {
        border-color: transparent;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: var(--bs-gutter-x);
  }
  @include media-breakpoint-down(sm) {
    &__front {
      padding: 40px 30px;
    }
  }
}

.work-with-us {
  &__title {
    text-align: center;
    margin-bottom: 60px;
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    width: 33.33%;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: var(--color-border);
    padding: 80px 40px 100px 40px;
    background-color: var(--section-bg-light);
    transition: color $trs3;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--gradient-1);
      transform: translateY(100%);
      opacity: 0;
      transition: transform $trs3, opacity $trs3;
      will-change: transform, opacity;
    }
    & > * {
      position: relative;
      z-index: 2;
    }
    &:last-child {
      border-width: 1px;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-text-light);
      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &__block-index {
    display: block;
    margin-bottom: 10px;
    opacity: 0.2;
  }
  &__block-title {
    font-size: 1.75rem;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0;
  }

  @include media-breakpoint-down(xl) {
    &__block {
      padding: 40px 30px 80px 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__title {
      margin-bottom: 30px;
    }
    &__block {
      border-width: 1px 1px 0 1px;
      width: 100%;
      padding: 40px 40px 60px 40px;
      &:last-child {
        border-width: 1px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__block {
      padding: 30px var(--container-gutter-x);
    }
    &__block-title {
      font-size: 1.5rem;
    }
  }
}