img {
  display: block;
  user-select: none;
  pointer-events: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}

.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.logo {
  display: inline-block;
  font-size: 27px;
  font-weight: 700;
  font-family: $font2;
  line-height: 1.2;
  span {
    color: var(--color-accent-2);
  }
  &.is-active {
    pointer-events: none;
  }
  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.swiper {
  position: relative;
  &-lazy {
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs3, visibility $trs3;
    &-loaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &-button {
    --color: var(--color-text-light);
    --bg: var(--gradient-2);
    color: var(--color);
    width: 30px;
    height: 30px;
    transition: opacity $trs1;
    position: relative;
    z-index: 2;
    cursor: pointer;
    .icon {
      width: 100%;
      height: 100%;
      display: block;
      stroke-width: 2px;
    }
    &[data-touch], &[data-hover] {
      opacity: 0.8;
    }
    &-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &-navigation {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .swiper-button {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  &-pagination {
    display: flex;
    justify-content: center;
    --size: 16px;
    --color: var(--color-accent-3);
    --between: 24px;
    &-bullet {
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      position: relative;
      z-index: 2;
      border: 2px solid var(--color);
      transition: background-color $trs1, border-color $trs1;
      &:not(:last-child) {
        margin-right: var(--between);
      }
      &[data-touch], &[data-hover], &-active {
        background-color: var(--color);
        border-color: transparent;
      }
      &-active {
        pointer-events: none;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &-button {
      width: 34px;
      height: 34px;
      border-radius: 50px;
      transition: opacity $trs1;
      border: 2px solid var(--color);
      background: var(--bg);
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: 20px;
        height: 20px;
        stroke-width: 3px;
      }
      &[data-touch], &[data-hover] {
        opacity: 0.8;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &-pagination {
      --between: 18px;
      --size: 14px;
    }
  }
}

.swiper-container-fade {
  overflow: initial;
  .swiper-slide {
    will-change: opacity;
    opacity: 0 !important;
    visibility: hidden !important;
    transition-property: all;
    &-active {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

.large-check-list {
  &__item {
    font-size: 28px;
    position: relative;
    padding-left: 44px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .icon {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 7px;
      color: var(--color-accent-2);
    }
  }
  @include media-breakpoint-down(md) {
    &__item {
      font-size: 24px;
      .icon {
        width: 18px;
        height: 18px;
        top: 5px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__item {
      font-size: 20px;
      padding-left: 32px;
      .icon {
        top: 3px;
      }
    }
  }
}