img {
  display: block;
  user-select: none;
  pointer-events: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}

.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.logo {
  display: inline-block;
  font-size: 27px;
  font-weight: 700;
  font-family: $font2;
  line-height: 1.2;
  span {
    color: var(--color-accent-2);
  }
  &.is-active {
    pointer-events: none;
  }
}

.in-magic-animation {
  pointer-events: none !important;
}