.input {
  display: block;
  position: relative;
  border-radius: 4px;
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-border);
  transition: background-color $trs2;
  &__element {
    &:not(textarea) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    font-size: 20px;
    line-height: 24px;
    padding: 19px 31px;
    display: block;
    width: 100%;
    height: 62px;
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--color-text-dark);
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s;
    }
    &::placeholder {
      color: inherit;
      transition: color $trs1;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &.loading {
    pointer-events: none;
    background-color: var(--color-input-disabled);
  }
  @include media-breakpoint-down(sm) {
    &__element {
      font-size: 18px;
      padding: 15px 19px;
      height: initial;
    }
  }
}


.checkbox {
  position: relative;
  &__input {
    display: none;
    &:checked ~ .checkbox__label {
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    padding: 4px 0 0 35px;
    position: relative;
    min-height: 26px;
    &:before {
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      border: 1px solid var(--color-border);
      background-color: var(--color-input-bg);
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: 0;
      transition: border-color $trs1, background-color $trs1;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 8px;
      left: 7px;
      width: 12px;
      height: 7px;
      border-width: 0 0 3px 3px;
      transform: rotate(-45deg);
      border-style: solid;
      border-color: var(--color-text-dark);
      opacity: 0;
      transition: opacity $trs1;
    }
  }
}

form.loading {
  pointer-events: none;
}