.header {
  --color: var(--color-text-light);
  --color-logo: #fff;
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 40px 0;
  transition: background-color $trs2, color $trs2, padding-top $trs2, padding-bottom $trs2, transform .5s ease-out;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--gradient-1);
    transition: opacity $trs2;
    opacity: 0;
  }
  &:not(.header_fixed), &_nav-opened {
    color: var(--color-text-light);
  }
  &_fixed:not(.header_nav-opened) {
    --color: var(--color-text-dark);
    --color-logo: #3D065F;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &_fixed {
    background-color: var(--color-header-fixed-bg);
  }
  &_hidden:not(.header_nav-opened) {
    transition: background-color $trs2, color $trs2, padding-top $trs2, padding-bottom $trs2, transform .35s ease-in;
    transform: translateY(-100%);
  }
  &_nav-opened {
    transition: background-color $trs2, color .5s ease-out, padding-top $trs2, padding-bottom $trs2, transform .5s ease-out;
    &::before {
      transition: opacity .5s ease-out;
      opacity: 1;
    }
    .header__logo {
      transition: color .5s ease-out;
    }
  }
  &__logo {
    color: var(--color-logo);
    transition: color $trs2;
  }
  &__nav-link {
    color: var(--color);
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    color: var(--color-btn-magic);
    .button {
      font-size: 14px;
      line-height: 16px;
      min-height: 48px;
      padding: 8px 37px;
      border-radius: 4px;
      background-color: var(--color-btn-magic-background);
      font-weight: 700;
      transition: background-color $trs1;
      &[data-touch], &[data-hover] {
        background-color: var(--color-btn-magic-hover-background);
      }
      &[data-click] {
        background-color: var(--color-btn-magic-click-background);
      }
    }
  }
  
  @include media-breakpoint-down(lg) {
    &__nav, &__button {
      display: none;
    }
    &__container {
      display: flex;
      justify-content: space-between;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 25px 0;
  }
}


.nav-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    width: 38px;
    height: 3px;
    background-color: currentColor;
    margin: 4px 0;
    border-radius: 3px;
  }


  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    margin-right: -5px;
    span {
      width: 34px;
    }
  }
}

.mobile-nav {
  --hh: 128px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: var(--hh);
  height: calc(100% - var(--hh));
  overflow: hidden;
  transition: top $trs2;
  color: var(--color-text-light);
  opacity: 0;
  visibility: hidden;
  &_header-fixed:not(.mobile-nav_opened) {
    top: 78px;
  }
  &__container {
    height: 100%;
    background: var(--gradient-2);
    overflow: auto;
    .container {
      padding: 80px 72px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  &__link {
    font-size: 2rem;
    font-weight: 700;
    transition: color $trs1;
    display: block;
    &[data-touch], &[data-hover], &.is-active {
      color: var(--color-accent-2);
    }
    &.is-active {
      pointer-events: none;
    }
  }
  &__socials {
    margin-top: 80px;
    --size: 40px;
    --margin: 20px;
  }
  &__button {
    margin-top: 40px;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    --hh: 98px;
    &__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__link {
      font-size: 1.375rem;
    }
    &__socials {
      margin-top: 60px;
      --size: 34px;
      --margin: 15px;
    }
    &__container {
      .container {
        padding: 60px 42px;
      }
    }
  }
}