.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  &.disabled {
    pointer-events: none;
  }
}
.main {
  flex: 1 1 100%;
}
.section {
  position: relative;
  padding: 110px 0;
  overflow: hidden;
  &__dots {
    position: absolute;
    width: var(--dots-width);
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1336px;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }
  &_bg-light {
    background: var(--section-bg-light);
  }
  &_bg-dark {
    background: var(--section-bg-dark);
    color: var(--color-text-light);
  }
  @include media-breakpoint-down(lg) {
    padding: 70px 0;
    &__dots {
      img {
        left: calc(50% - 18px);
      }
    }
  }
}


.container {
  position: relative;
  padding-left: var(--container-gutter-x);
  padding-right: var(--container-gutter-x);
  @include media-breakpoint-up(xxl) {
    max-width: #{map-get($container-max-widths, xl)};
  }
}