.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.main {
  flex: 1 1 100%;
}
.section {
  position: relative;
  margin-bottom: 100px;
  
}


.container {
  position: relative;
  padding-left: var(--container-gutter-x);
  padding-right: var(--container-gutter-x);
  @include media-breakpoint-up(xxl) {
    max-width: #{map-get($container-max-widths, xl)};
  }
}