.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.main {
  flex: 1 1 100%;
}
.section {
  position: relative;
  padding: 110px 0;
  &_bg-light {
    background: var(--section-bg-light);
  }
  &_bg-dark {
    background: var(--section-bg-dark);
    color: var(--color-text-light);
  }
}


.container {
  position: relative;
  padding-left: var(--container-gutter-x);
  padding-right: var(--container-gutter-x);
  @include media-breakpoint-up(xxl) {
    max-width: #{map-get($container-max-widths, xl)};
  }
}