html {
  font-size: 16px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-text-dark);
  font-size: 1rem;
  line-height: 1.3;
  text-rendering: geometricPrecision;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  font-size: 3.5rem;
  line-height: 1.05;
}
h2, .h2 {
  font-size: 3rem;
  line-height: 1.2;
}
h3, .h3 {
  font-size: 1.375rem;
}
h4, .h4 {
  font-size: 1.25rem;
}
h5, .h5 {
  font-size: 1.125rem;
}
h6, .h6 {
  font-size: 1rem;
}

@include media-breakpoint-down(xxl) {
  h1, .h1 {
    font-size: 3rem;
  }
}

p {
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

strong, b {
  font-weight: 700;
}