include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    meta(name='description' content='Комплексное IT-решение для проектов, где важнейшим является безопасность и скорость транзакций с мультиплатформенной системой платежей в любой валюте, включая все крипто-монеты')
    //color
    meta(name="theme-color" content="#45108A")
    //favicons
    link(rel='apple-touch-icon' sizes='180x180' href='./img/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./img/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./img/favicons/favicon-16x16.png')
    //open graph
    meta(property='og:title' content='Разработка уникальных CMS-платформ для стартапов и SaaS-сервисов')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='#') 
    meta(property='og:description' content='Комплексное IT-решение для проектов, где важнейшим является безопасность и скорость транзакций с мультиплатформенной системой платежей в любой валюте, включая все крипто-монеты')
    meta(property='og:image' content='#')
    //fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    link(rel="preload" href="./fonts/Qanelas-Bold/Qanelas-Bold.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="./fonts/Qanelas-Bold/style.css")
    //styles
    link(rel="stylesheet" href="./styles/theme.css")
    link(rel="stylesheet" href="./styles/common.css")

  body
    include ../blocks/preloader
    .overlay(style='opacity:0;visibility:hidden;')
    .wrapper(data-barba="wrapper" style='opacity:0;visibility:hidden;')
      include ../blocks/header
      main.main(data-barba="container" data-barba-namespace=namespace)
        block content
      include ../blocks/footer
    
    //scripts
    script(src="./scripts/common.js")

    //preview only
    include ../blocks/helper
