:root {
  --color-text-dark:     #0A2540;
  --color-text-light:    #fff;

  --color-overlay-background: #fff;

  --color-accent-1: #4361EE;
  --color-accent-2: #F72585;
  --color-accent-3: #3A0CA3;

  --gradient-1: linear-gradient(301.95deg, #45108A 2.3%, #3D065F 29.86%, #10054D 101.35%);
  --gradient-2: linear-gradient(262.85deg, #192038 0%, #2E3A59 100%);

  --color-bg-card: #535B70;

  --section-bg-light: #F6F9FC;
  --section-bg-dark: var(--gradient-2);

  --color-border: #CED3D9;

  //
  --color-btn-magic: #fff;
  --color-btn-magic-background: #F72585;
  --color-btn-magic-hover-background: #de2176;
  --color-btn-magic-click-background: #db1b71;

  --color-btn-1-background: #4361EE;
  --color-btn-1-hover-background: #3D3ACE;
  --color-btn-1-click-background: #23209F;

  --color-header-fixed-bg: #fff;
}