:root {
  --color-text-dark:     #0A2540;
  --color-text-light:    #fff;

  --color-overlay-background: #fff;
  --color-modal-overlay: rgba(0, 0, 0, 0.6);

  --color-accent-1: #4361EE;
  --color-accent-2: #F72585;
  --color-accent-3: #3A0CA3;
  --color-accent-4: #7209B7;

  --gradient-1: linear-gradient(301.95deg, #45108A 2.3%, #3D065F 29.86%, #10054D 101.35%);
  --gradient-2: linear-gradient(262.85deg, #192038 0%, #2E3A59 100%);

  --color-bg-card: #535B70;

  --section-bg-light: #F6F9FC;
  --section-bg-dark: var(--gradient-2);

  --color-border: #CED3D9;

  //
  --color-input-bg: #F6F9FC;

  --color-input-disabled: #e6ebf2;


  --color-btn-magic: #fff;
  --color-btn-magic-background: #F72585;
  --color-btn-magic-hover-background: #de2176;
  --color-btn-magic-click-background: #db1b71;

  --color-btn-1: #fff;
  --color-btn-1-bg: #4361EE;
  --color-btn-1-hover-bg: #3D3ACE;
  --color-btn-1-click-bg: #23209F;

  --color-btn-2: #4361EE;
  --color-btn-2-border: #4361EE;
  --color-btn-2-hover-bg: #F6F5FF;
  --color-btn-2-click-border: transparent;

  --color-btn-3: #fff;
  --color-btn-3-bg: #F72585;
  --color-btn-3-hover-bg: #e32078;
  --color-btn-3-click-bg: #d11d6e;

  --color-header-fixed-bg: #fff;

  --image-overlay: linear-gradient(301.95deg, rgba(69, 16, 138, 0.7) 2.3%, rgba(61, 6, 95, 0.7) 29.86%, rgba(16, 5, 77, 0.7) 101.35%);
}