extends layout/layout
block variables
  -var title = sitename+' - О компании'
  -var namespace = 'about'
block content

  section.section.page-head
    .page-head__dots
      .page-head__dot
    .container.page-head__container
      h1.h2.page-head__title.page-head__animate-item О компании EngineX