extends layout/layout
block variables
  -var title = sitename+' - Статья'
  -var namespace = 'blog'
block content

  section.section.page-head
    .page-head__dots
      .page-head__dot
    .container.page-head__container
      h1.h2.page-head__title.page-head__animate-item European payment methods available worldwide in minutes, not months
      p.page-head__text.page-head__animate-item November 13, 2019


  include blocks/subscribe