extends layout/layout
block variables
  -var title = sitename+' - Блог'
  -var namespace = 'blog'
block content

  section.section.page-head
    .page-head__dots
      .page-head__dot
    .container.page-head__container
      h1.h2.page-head__title.page-head__animate-item Техноблог о современных технологиях, системах безопасности и криптовалютах
      p.page-head__text.page-head__animate-item Актуальное о популярном из мира финтеха, CMS, электронных средствах платежей и крипте


  include blocks/subscribe
  