extends layout/layout
block variables
  -var title = sitename+' - Главная'
  -var namespace = 'home'
block content

  section.section.page-head.home-screen.screen.home
    .page-head__dots
      .page-head__dot

    .home-screen__container.container 

      .home-screen__content
        .home-screen__text-content
          h1.home-screen__title.page-head__animate-item Разработка уникальных CMS-платформ для стартапов и SaaS-сервисов
          p.home-screen__text.page-head__animate-item Комплексное IT-решение для проектов, где важнейшим является безопасность и скорость транзакций с мультиплатформенной системой платежей в любой валюте, включая все крипто-монеты
        a(href="#").button.button_style-1.home-screen__button.page-head__animate-item Получить предложение

        .home-screen__items 
          .home-screen__item.page-head__animate-item(data-magic)
            svg.icon
              use(xlink:href='./img/icons/icons.svg#locked')
            span Высокая<br> безопасность
          .home-screen__item.page-head__animate-item 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#speedometer-outline')
            span Скорость<br> CMS x100
          .home-screen__item.page-head__animate-item 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#monitor')
            span Продуманный<br> UI/UX
          .home-screen__item.page-head__animate-item 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#credit-card')
            span Крипто-<br>автоматизация

      .home__image
        .image 
          img(data-src="./img/home.png", alt="image").lazyload

  section.section.section_bg-light.we-create-section
    .container
      .we-create-section__head
        h2.we-create-section__title Создаем CMS-платформы ALL-in-ONE
        p.we-create-section__sub-title для стартапов и SaaS-сервисов, объединяющие скорость, простоту и безопасность
      .we-create-section__text-content
        .row 
          .col-lg-6 
            p Наша компания занимается созданием комплексных уникальных CMS-систем с широким перечнем нестандартного функционала. Базисом является наше уникальное ядро собственной разработки — EngineX, которое формирует неограниченно масштабируемую платформу для реализации любых задач бизнеса, стартапов и перспективных SaaS-сервисов.
            p Под техническое задание заказчика мы реализуем любой функционал и масштабируем ядро для решения всех необходимых задач. В случае отсутствия какого-либо первичного функционала в ядре, в частности, для нестандартных задач криптобирж либо системы безопасности — наша команда дописывает этот функционал в индивидуальном порядке.
        .image.we-create-section__image 
          img(data-src="./img/lllds.png", alt="image").lazyload
      
      .swiper.scroll-slider.we-create-slider.row 
        .col-lg-3
          .scroll-slider__nav.we-create-slider__nav 
            button.swiper-button.swiper-button-prev.scroll-slider__button.we-create-slider__button
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow-up')
            .scroll-slider__nav-elements.we-create-slider__nav-elements 
              button.scroll-slider__nav-element.we-create-slider__nav-element Безопасность+Скорость
              button.scroll-slider__nav-element.we-create-slider__nav-element Стабильность
              button.scroll-slider__nav-element.we-create-slider__nav-element Удобство админки
              button.scroll-slider__nav-element.we-create-slider__nav-element Платежный шлюз
            button.swiper-button.swiper-button-next.scroll-slider__button.we-create-slider__button
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow-down')
        .col-lg-9
          .swiper-container 
            .swiper-wrapper.scroll-slider__items
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Быстрый и безопасный код, построенный на криптоалгоритмах
                    p Наш приоритет - это безопасность системы, независимо от её масштабов.
                    p Криптоалгоритмы хранения и системы шифрования данных дают гарантию защиты от кражи и утечки данных
                    p Оптимизированность ядра EngineX, согласно проведенных тестов, позволяет получить скорость ответа CMS минимум x100 в сравнении со стандартными движками. Это влияет как на загрузку контента, его обработку и реализацию, так и на скорость онлайн-транзакций, особенно, в криптовалютах.
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Lorem ipsum dolor amet consectetur adipisicing elit.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quia commodi eligendi nobis labore dolore reprehenderit, provident quam placeat veritatis maxime reiciendis tempora omnis libero iste distinctio dignissimos velit ut?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cumque ullam eligendi quae, reprehenderit harum molestiae quam culpa et? Vero aliquam repellendus eaque vitae dicta eos quasi officiis iure saepe.
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Lorem ipsum dolor sit amet adipisicing elit.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quia commodi eligendi nobis labore dolore reprehenderit, provident quam placeat veritatis maxime reiciendis tempora omnis libero iste distinctio dignissimos velit ut?
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Lorem sit amet consectetur adipisicing elit.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quia commodi eligendi nobis labore dolore reprehenderit, provident quam placeat veritatis maxime reiciendis tempora omnis libero iste distinctio dignissimos velit ut?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cumque ullam eligendi quae, reprehenderit harum molestiae quam culpa et? Vero aliquam repellendus eaque vitae dicta eos quasi officiis iure saepe.

          .swiper-pagination
