extends layout/layout
block variables
  -var title = sitename+' - Главная'
  -var namespace = 'home'
block content

  section.section.page-head.home-screen.screen.home
    .page-head__dots
      .page-head__dot

    .home-screen__container.container 

      .home-screen__content
        .home-screen__text-content
          h1.home-screen__title.page-head__animate-item Разработка уникальных CMS-платформ для стартапов и SaaS-сервисов
          p.home-screen__text.page-head__animate-item Комплексное IT-решение для проектов, где важнейшим является безопасность и скорость транзакций с мультиплатформенной системой платежей в любой валюте, включая все крипто-монеты
        a(href="#").button.button_style-1.home-screen__button.page-head__animate-item Получить предложение

        .home-screen__items 
          .home-screen__item.page-head__animate-item(data-magic)
            svg.icon
              use(xlink:href='./img/icons/icons.svg#locked')
            span Высокая<br> безопасность
          .home-screen__item.page-head__animate-item 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#speedometer-outline')
            span Скорость<br> CMS x100
          .home-screen__item.page-head__animate-item 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#monitor')
            span Продуманный<br> UI/UX
          .home-screen__item.page-head__animate-item 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#credit-card')
            span Крипто-<br>автоматизация

      .home__image
        .image 
          img(data-src="./img/home.png", alt="image").lazyload

  section.section.section_bg-light.we-create-section
    .container
      .we-create-section__head
        h2.we-create-section__title Создаем CMS-платформы ALL-in-ONE
        p.we-create-section__sub-title для стартапов и SaaS-сервисов, объединяющие скорость, простоту и безопасность
      .we-create-section__text-content
        .row 
          .col-lg-6 
            p Наша компания занимается созданием комплексных уникальных CMS-систем с широким перечнем нестандартного функционала. Базисом является наше уникальное ядро собственной разработки — EngineX, которое формирует неограниченно масштабируемую платформу для реализации любых задач бизнеса, стартапов и перспективных SaaS-сервисов.
            p Под техническое задание заказчика мы реализуем любой функционал и масштабируем ядро для решения всех необходимых задач. В случае отсутствия какого-либо первичного функционала в ядре, в частности, для нестандартных задач криптобирж либо системы безопасности — наша команда дописывает этот функционал в индивидуальном порядке.
        .image.we-create-section__image 
          img(data-src="./img/lllds.png", alt="image").lazyload
      
      .swiper.scroll-slider.we-create-slider.row 
        .col-lg-3
          .scroll-slider__nav.we-create-slider__nav 
            button.swiper-button.swiper-button-prev.scroll-slider__button.we-create-slider__button
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow-up')
            ul.scroll-slider__nav-elements.we-create-slider__nav-elements
              li.scroll-slider__nav-item
                a(href="javascript:void(0);").scroll-slider__nav-element.we-create-slider__nav-element Безопасность+Скорость
              li.scroll-slider__nav-item
                a(href="javascript:void(0);").scroll-slider__nav-element.we-create-slider__nav-element Стабильность
              li.scroll-slider__nav-item
                a(href="javascript:void(0);").scroll-slider__nav-element.we-create-slider__nav-element Удобство админки
              li.scroll-slider__nav-item
                a(href="javascript:void(0);").scroll-slider__nav-element.we-create-slider__nav-element Платежный шлюз
            button.swiper-button.swiper-button-next.scroll-slider__button.we-create-slider__button
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow-down')
        .col-lg-9
          .swiper-container 
            .swiper-wrapper
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Быстрый и безопасный код, построенный на криптоалгоритмах
                    p Наш приоритет - это безопасность системы, независимо от её масштабов.
                    p Криптоалгоритмы хранения и системы шифрования данных дают гарантию защиты от кражи и утечки данных
                    p Оптимизированность ядра EngineX, согласно проведенных тестов, позволяет получить скорость ответа CMS минимум x100 в сравнении со стандартными движками. Это влияет как на загрузку контента, его обработку и реализацию, так и на скорость онлайн-транзакций, особенно, в криптовалютах.
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Lorem ipsum dolor amet consectetur adipisicing elit.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quia commodi eligendi nobis labore dolore reprehenderit, provident quam placeat veritatis maxime reiciendis tempora omnis libero iste distinctio dignissimos velit ut?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cumque ullam eligendi quae, reprehenderit harum molestiae quam culpa et? Vero aliquam repellendus eaque vitae dicta eos quasi officiis iure saepe.
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Lorem ipsum dolor sit amet adipisicing elit.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quia commodi eligendi nobis labore dolore reprehenderit, provident quam placeat veritatis maxime reiciendis tempora omnis libero iste distinctio dignissimos velit ut?
              //slide
              .swiper-slide.scroll-slider__slide.we-create-slider__slide 
                .row
                  .we-create-slider__slide-image.col-lg-4
                    .image.image_contain 
                      img(data-src="./img/phone.png", alt="image").swiper-lazy
                  .we-create-slider__slide-text.col-lg-8
                    h4 Lorem sit amet consectetur adipisicing elit.
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quia commodi eligendi nobis labore dolore reprehenderit, provident quam placeat veritatis maxime reiciendis tempora omnis libero iste distinctio dignissimos velit ut?
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cumque ullam eligendi quae, reprehenderit harum molestiae quam culpa et? Vero aliquam repellendus eaque vitae dicta eos quasi officiis iure saepe.

          .swiper-pagination

  section.section.section_bg-dark.additional-benefits
    img(data-src="./img/dots.svg", alt="dots").lazyload.section__dots
    .additional-benefits-slider-slider.swiper.scroll-slider
      .container
        .row 
          .col-lg-6 
            h2.additional-benefits__title Дополнительные преимущества<br> нашей уникальной<br> платформы
            .scroll-slider__nav 
              button.swiper-button.swiper-button-prev.scroll-slider__button.additional-benefits-slider__button
                svg.icon
                  use(xlink:href='./img/icons/icons.svg#arrow-up')
              ul.scroll-slider__nav-elements.additional-benefits-slider__nav-elements
                li.scroll-slider__nav-item
                  a(href="javascript:void(0);").scroll-slider__nav-element.additional-benefits-slider__nav-element Максимальная приватность
                li.scroll-slider__nav-item
                  a(href="javascript:void(0);").scroll-slider__nav-element.additional-benefits-slider__nav-element Интеграция по API
                li.scroll-slider__nav-item
                  a(href="javascript:void(0);").scroll-slider__nav-element.additional-benefits-slider__nav-element Мультиязычность
                li.scroll-slider__nav-item
                  a(href="javascript:void(0);").scroll-slider__nav-element.additional-benefits-slider__nav-element SEO-оптимизированный движок
                li.scroll-slider__nav-item
                  a(href="javascript:void(0);").scroll-slider__nav-element.additional-benefits-slider__nav-element Масштабируемость платформы
                li.scroll-slider__nav-item
                  a(href="javascript:void(0);").scroll-slider__nav-element.additional-benefits-slider__nav-element Высокая автоматизация платформы
                li.scroll-slider__nav-item
                  a(href="javascript:void(0);").scroll-slider__nav-element.additional-benefits-slider__nav-element Мобильные приложения
              button.swiper-button.swiper-button-next.scroll-slider__button.additional-benefits-slider__button
                svg.icon
                  use(xlink:href='./img/icons/icons.svg#arrow-down')
          .col-lg-6 
            .swiper-container 
              .swiper-wrapper
                //slide
                .swiper-slide.additional-benefits-slider__slide
                  .image.image_cover
                    span.h4.additional-benefits-slider__slide-index 01
                    img(data-src="./img/benefits/1.jpg", alt="image").swiper-lazy
                  .additional-benefits-slider__slide-text 
                    h4 Максимальная приватность
                    p В нашей системе предусмотрена возможность предоставить максимальную приватность личных данных пользователя, а также проводить финансовые операции, не предоставляя данные вашему сайту.
                    p Благодаря этому, доверие к ресурсу будет высоким, а данные пользователей — в безопасности, о чем открыто можно указать на сайте.
                //slide
                .swiper-slide.additional-benefits-slider__slide
                  .image.image_cover 
                    span.h4.additional-benefits-slider__slide-index 02
                    img(data-src="./img/benefits/2.jpg", alt="image").swiper-lazy
                  .additional-benefits-slider__slide-text 
                    h4 Интеграция по API
                    p Наша система полностью оптимизирована и готова под любые дополнения и расширения без использования тяжелых плагинов — все делается с помощью простого кода API, который предоставляют все внешние сервисы интеграций, с которыми мы работаем. К ним относятся сервисы безопасности, платежные шлюзы, системы автоматизации процессов.
                    p По желанию заказчика, можем подключить и интегрировать в ядро платформы практически любой внешний сервис, предоставляющий свой API. А также, можем написать дополнительный сервис с интеграцией EngineX для вашей CRM-системы компании.
                //slide
                .swiper-slide.additional-benefits-slider__slide
                  .image.image_cover 
                    span.h4.additional-benefits-slider__slide-index 03
                    img(data-src="./img/benefits/3.jpg", alt="image").swiper-lazy
                  .additional-benefits-slider__slide-text 
                    h4 Мультиязычность
                    p Одной из проблем многих популярных CMS является отсутствие нормальной мультиязычности с простой настройкой.<br> Наше решение мультиязычного функционала зашито в ядро EngineX.
                    p Максимальная простота реализации нескольких языков на сайте обеспечена специальным разделом админки со всеми необходимыми полями и детальной пошаговой инструкцией.
                    p Автоматическое определение языка пользователя по географическому расположению включается при разрешенных настройках приватности.
                //slide
                .swiper-slide.additional-benefits-slider__slide
                  .image.image_cover 
                    span.h4.additional-benefits-slider__slide-index 04
                    img(data-src="./img/benefits/4.jpg", alt="image").swiper-lazy
                  .additional-benefits-slider__slide-text 
                    h4 SEO-оптимизированный движок
                    p EngineX изначально настроена так, чтобы предусмотреть все моменты, связанные с технической оптимизацией сайта под поисковые механизмы.
                    p SEO-специалисту предоставлен широкий функционал для настройки всех необходимых параметров для эффективного продвижения ресурса.
                    p В большинстве случаев, простота и удобство SEO-блока админки, а также детальная инструкция, позволяют владельцу сайта выполнить оптимизацию без привлечения сеошника.
                //slide
                .swiper-slide.additional-benefits-slider__slide
                  .image.image_cover 
                    span.h4.additional-benefits-slider__slide-index 05
                    img(data-src="./img/benefits/5.jpg", alt="image").swiper-lazy
                  .additional-benefits-slider__slide-text 
                    h4 Масштабируемость платформы
                    p Ядро EngineX имеет в себе максимальный набор функций и средств, которые позволят реализовать практически любые стандартные задачи сайта для любой тематики бизнеса.
                    p Но ключевое преимущество — неограниченные возможности по расширению функционала под любой запрос заказчика: любые скрипты, интеграции с системами аналитики и CRM, калькуляторы, cloud-технологии, собственный VPN-шлюз, собственные чат-комнаты и видеоконференции, чат-боты, разработка мобильных приложений, защищенные протоколы безопасности и крипто-шифрование.
                //slide
                .swiper-slide.additional-benefits-slider__slide
                  .image.image_cover 
                    span.h4.additional-benefits-slider__slide-index 06
                    img(data-src="./img/benefits/6.jpg", alt="image").swiper-lazy
                  .additional-benefits-slider__slide-text 
                    h4 Высокая автоматизация платформы
                    p Большая часть внутренних процессов происходит в автоматическом фоновом режиме, без участия администратора.
                    p Система администрирования создана таким образом, чтобы максимально упростить управление любым разделом сайта, без необходимости копаться в сложных вложенных меню. Все упаковано в удобные понятные разделы и сопровождается wiki-инструкцией.
                    p Полностью автоматизированы на старте: платежи, система безопасности и fraud-фильтры, передача, хранение и шифрование данных, мультиязычность.
                //slide
                .swiper-slide.additional-benefits-slider__slide
                  .image.image_cover 
                    span.h4.additional-benefits-slider__slide-index 07
                    img(data-src="./img/benefits/7.jpg", alt="image").swiper-lazy
                  .additional-benefits-slider__slide-text 
                    h4 Мобильные приложения
                    p Наша команда дополнительно может разработать мобильное мультиплатформенное приложение под Android / iOS, с полной синхронизацией процессов между сайтом на EngineX и мобильными устройствами.
                    p Все сильные стороны движка сайта будут реализованы в приложении — скорость, безопасность и удобство управления.
                    p Заказ разработки CMS и приложений вместе сильно повышает надежность работы и отказоустойчивость всей платформы, так как мы формируем общее безопасное и эффективное ядро в пределах одной команды, не подключая внешних подрядчиков.
            .swiper-pagination

  section.section.section_bg-light.relevance-for-companies
    .container 
      h2.relevance-for-companies__title Для каких компаний будет актуальна наша платформа
      .relevance-for-companies__text-content.row
        p.col-lg-6 Стандартные задачи - не про EngineX. К нам приходят уникальные проекты - в первую очередь, стартапы, маркетплейсы нового формата и финтех-проекты, где важен сложный функционал, нестандартный подход к реализации и инновационные технологии скорости, безопасности и удобства.
        p.col-lg-6 Кроме того, EngineX может быть реализован в полном объеме для проектов по продаже инфотоваров, курсов обучения, своих технологических продуктов, оборудования.
      .relevance-cards
        //card
        .relevance-card(data-touch-hover)
          .relevance-card__container
            .relevance-card__head 
              span.relevance-card__index.h4 01
              h4.relevance-card__title Финтех-стартапы
            .relevance-card__content 
              .image.image_cover 
                img(data-src="./img/relevance/1.jpg", alt="image").lazyload
              .relevance-card__text-content
                p EngineX подойдет для реализации проектов, связанных с:
                ol 
                  li Инвестициями и трейдингом
                  li Блокчейном
                  li Кредитованием и другими банковскими услугами
                  li Учетом личных финансов
                  li Переводами личных средств и безналичными платежами для юр.лиц
                  li Автоматизацией рабочих процессов
                  li Автоматизацией бухгалтерского учета и аудита
        //card
        .relevance-card(data-touch-hover)
          .relevance-card__container
            .relevance-card__head 
              span.relevance-card__index.h4 02
              h4.relevance-card__title SaaS-платформы
            .relevance-card__content 
              .image.image_cover 
                img(data-src="./img/relevance/2.jpg", alt="image").lazyload
              .relevance-card__text-content
                p SaaS — это модель обслуживания, при которой подписчикам предоставляется готовое прикладное программное обеспечение, полностью обслуживаемое провайдером.<br> Поставщик самостоятельно управляет приложением, предоставляя заказчикам доступ к функциям с клиентских устройств, как правило через мобильное приложение или веб-браузер.
                p EngineX подойдет практически для любых SaaS-платформ, так как имеет весь необходимый функционал для реализации задач любой сложности, с перспективами неограниченного масштабирования функционала в любое время. Абсолютно любая тематика любого бизнеса!
        //card
        .relevance-card(data-touch-hover)
          .relevance-card__container
            .relevance-card__head 
              span.relevance-card__index.h4 03
              h4.relevance-card__title Маркетплейсы
            .relevance-card__content 
              .image.image_cover 
                img(data-src="./img/relevance/3.jpg", alt="image").lazyload
              .relevance-card__text-content
                p Маркетплейс — это сложный Интернет-магазин, где выставлены товары от разных продавцов. Он может предоставлять только место для размещения товаров на сайте или же брать на себя общение с покупателями и даже доставку, например, Wildberries, Ozon, Amazon и прочие.
                p В текущий момент ниша развивается очень динамично, постепенно уводя конечных покупателей от мелких Интернет-магазинов в огромный рынок всевозможных товаров, которые можно приобрести по одному адресу. Маркетплейсы широкого профиля плотно забирают рынок, но это не мешает появлению небольших нишевых, узкоспециализированных маркетплейсов (например, авто, мебель, туризм), которые вполне можно реализовать на базе EngineX и неограниченно масштабировать функционально и ресурсно.
        //card
        .relevance-card(data-touch-hover)
          .relevance-card__container
            .relevance-card__head 
              span.relevance-card__index.h4 04
              h4.relevance-card__title Крипто-сервисы
            .relevance-card__content 
              .image.image_cover 
                img(data-src="./img/relevance/4.jpg", alt="image").lazyload
              .relevance-card__text-content
                p Крипто-сервис — это обобщенное понятие онлайн-сервиса по хранению и транзакциям в криптовалюте для любых целей, в первую очередь, для трейдинга и взаиморасчетов.
                p EngineX позволит реализовать сложный проект для:
                ol
                  li Мобильного банкинга
                  li Криптовалютного трейдинга
                  li Онлайн-обменника электронных денег и криптовалюты
                  li Автоматизации трейдинга
                  li Биржевой аналитики

  section.section.section-warranty
    .container 
      .section-warranty__top.row 
        .col-lg-6 
          .text-block-bordered 
            h4 Наша платформа гарантирует 
              strong совместимость практически со всеми видами платежных сервисов, 
              | сохраняя максимальную безопасность транзакций
            p Интеграция по API с ведущими мировыми платежными сервисами позволяет проводить транзации с любыми платежными инструментами с моментальным осуществлением вывода и перевода.
            p Поддерживается 135 валют, крипто-кошельков, а также транзакции через Apple Pay, Google Pay и другие электронные платежные средства.
            p Детальнее читайте на странице 
              a(href=technology) <strong>Технология</strong> 
              | .
        .col-lg-6.section-warranty__content
          .section-warranty__text 
            h4 Онлайн-прием криптовалют
            ul 
              li Нет верификации аккаунта, сохраняем приватность транзакций пользователей
              li Мгновенные выплаты через API с получением номера транзакции
              li Формирование формы оплаты на сайте, без перехода на внешние ресурсы, с которыми мы интегрируем платежный функционал
          .payment-list.section-warranty__payment-list 
            .payment-list__container
              img(src="./img/payment/1.svg", alt="img").payment-list__item
              img(src="./img/payment/2.svg", alt="img").payment-list__item
              img(src="./img/payment/3.svg", alt="img").payment-list__item
              img(src="./img/payment/4.svg", alt="img").payment-list__item
              img(src="./img/payment/5.svg", alt="img").payment-list__item
              img(src="./img/payment/6.svg", alt="img").payment-list__item
              img(src="./img/payment/7.svg", alt="img").payment-list__item
              img(src="./img/payment/8.svg", alt="img").payment-list__item
              img(src="./img/payment/GooglePay.svg", alt="img").payment-list__item
              img(src="./img/payment/ApplePay.svg", alt="img").payment-list__item
              img(src="./img/payment/Stripe.svg", alt="img").payment-list__item
              img(src="./img/payment/Visa.svg", alt="img").payment-list__item
              img(src="./img/payment/MasterCard.svg", alt="img").payment-list__item
              img(src="./img/payment/Maestro.svg", alt="img").payment-list__item
      
      .section-warranty__cards 
        .section-warranty__card(data-touch-hover)
          .image.image_contain
            img(data-src="./img/llldls.png", alt="image").lazyload
          h5 Никаких проверок и документов
        .section-warranty__card(data-touch-hover)
          .image.image_contain
            img(data-src="./img/dsd.png", alt="image").lazyload
          h5 Быстрый и безопасный вывод средств
        .section-warranty__card(data-touch-hover)
          .image.image_contain
            img(data-src="./img/llfld].png", alt="image").lazyload
          h5 Выбор стороны, отвечающей за комиссию

  section.section.section_bg-dark.development-components
    img(data-src="./img/dots.svg", alt="dots").lazyload.section__dots
    .container
      .row.development-components__container
        .col-lg-5
          .swiper.development-slider 
            .swiper-container 
              .swiper-wrapper
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 01
                  .image.development-slider__slide-image.development-slider__slide-image_1
                    img(data-src="./img/development/1.svg", alt="image").swiper-lazy
                  h4.development-slider__slide-title Разработка сайта на EngineX
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 02
                  .image.development-slider__slide-image.development-slider__slide-image_2
                    img(data-src="./img/development/2.svg", alt="image").swiper-lazy
                  h4.development-slider__slide-title Написание API для работы с внешними ресурсами
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 03
                  .image.development-slider__slide-image.development-slider__slide-image_3
                    img(data-src="./img/development/3.png", alt="image").swiper-lazy
                  h4.development-slider__slide-title Любые интеграции с внешними сервисами
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 04
                  .image.development-slider__slide-image.development-slider__slide-image_4
                    img(data-src="./img/development/4.svg", alt="image").swiper-lazy
                  h4.development-slider__slide-title Полный пакет документации по использованию CMS EngineX
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 05
                  .image.development-slider__slide-image.development-slider__slide-image_5
                    img(data-src="./img/development/5.png", alt="image").swiper-lazy
                  h4.development-slider__slide-title Настройка оборудования заказчика
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 06
                  .image.development-slider__slide-image.development-slider__slide-image_6
                    img(data-src="./img/development/6.svg", alt="image").swiper-lazy
                  h4.development-slider__slide-title Разработка мобильных приложений
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 07
                  .image.development-slider__slide-image.development-slider__slide-image_7
                    img(data-src="./img/development/7.svg", alt="image").swiper-lazy
                  h4.development-slider__slide-title Оптимизированная мобильная версия сайта + 100% поддержка 
                //slider
                .swiper-slide.development-slider__slide   
                  span.h2.development-slider__slide-index 08
                  .image.development-slider__slide-image.development-slider__slide-image_8
                    img(data-src="./img/development/8.svg", alt="image").swiper-lazy
                  h4.development-slider__slide-title Поддержка обновлений ядра EngineX. Бесплатно, навсегда.

            button.swiper-button.swiper-button-prev
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow-left')
            button.swiper-button.swiper-button-next
              svg.icon
                use(xlink:href='./img/icons/icons.svg#arrow-right')
            .swiper-pagination

        .col-lg-7.development-components__text 
          h2.development-components__title Что входит в разработку CMS-платформы для Вас
          p Наша команда реализует проекты на собственном движке EngineX "под ключ", начиная от прототипирования идеи и концепции, и заканчивая настройкой серверов под максимальную эффективность и безопасность готовой системы.
          p Базовый минимум, который получает заказчик:
          ol 
            li Комплексная профессиональная разработка системы управления веб-проектом (CMS
            li EngineX Frontend / Backend): стратегия проекта, прототип, дизайн, верстка и программирование функционала CMS (натяжка).
            li Написание API (Для внедрения в мобильное приложение, телеграм бота, сторонние сервисы).
            li Полный пакет интеграций со всеми необходимыми внешними сервисами по API, тестирование и оптимизация сервисов.
            li Полный пакет документации, включая видео-обучение использования всех элементов системы EngineX и всех подключенных внешних сервисов.
            li Настройка всех систем безопасности, включая внедрение безопасного рабочего окружения компании (облако, чат, видеоконференции, VPN), а также серверов заказчика для получения максимальной эффективности работы.
          p Опционально: Разработка дополнительного мультиплатформенного мобильного приложения под задачи заказчика и интеграция его с CMS EngineX.


  section.section.section_bg-light.section-team
    .container
      h2.section-team__title Наша команда
      .section-team__container.row 
        //card
        .team-card.col-lg-3
          .team-card__container(data-touch-hover)
            .team-card__front 
              .image.image_cover.team-card__photo 
                img(data-src="./img/team/1.jpg", alt="image").lazyload
              h6.team-card__title Evgeny
              p.team-card__position Дизайнер
            .team-card__back
              .team-card__back-content
                h6 Ключевые навыки:
                p Дизайн и прототипирование пользовательского интерфейса
                a(href="#" target='_blank').team-card__link
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#telegram')
                  span @JackDevSoft
        //card
        .team-card.col-lg-3
          .team-card__container(data-touch-hover)
            .team-card__front 
              .image.image_cover.team-card__photo 
                img(data-src="./img/team/2.jpg", alt="image").lazyload
              h6.team-card__title Михаил
              p.team-card__position Программист
            .team-card__back
              .team-card__back-content
                h6 Ключевые навыки:
                p Настройка сетевой инфраструктуры, администрирование крипто-нод, программирование
                a(href="#" target='_blank').team-card__link
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#telegram')
                  span @JackDevSoft
        //card
        .team-card.col-lg-3
          .team-card__container(data-touch-hover)
            .team-card__front 
              .image.image_cover.team-card__photo 
                img(data-src="./img/team/3.jpg", alt="image").lazyload
              h6.team-card__title Иван
              p.team-card__position Верстальщик
            .team-card__back
              .team-card__back-content
                h6 Ключевые навыки:
                p Верстка программирование запуск проекта
                a(href="#" target='_blank').team-card__link
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#telegram')
                  span @JackDevSoft
        //card
        .team-card.col-lg-3
          .team-card__container(data-touch-hover)
            .team-card__front 
              .image.image_cover.team-card__photo 
                img(data-src="./img/team/4.jpg", alt="image").lazyload
              h6.team-card__title Евгений
              p.team-card__position Проектирование и QA
            .team-card__back
              .team-card__back-content
                h6 Ключевые навыки:
                p Технический анализ, проектирование и оценка продукта, программирование
                a(href="#" target='_blank').team-card__link
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#telegram')
                  span @JackDevSoft


