extends layout/layout
block variables
  -var title = sitename+' - Технология'
  -var namespace = 'technology'
block content

  section.section.page-head.home-screen.technology-screen
    .section__dots.image
      img(data-src="./img/dots.svg", alt="dots").lazyload
    .page-head__dots
      .page-head__dot

    .home-screen__container.container 
      .home-screen__content
        .home-screen__text-content
          h1.home-screen__title.technology-screen__title.page-head__animate-item Технология EngineX
          ul.home-screen__check-list
            li.page-head__animate-item 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              | В 100 раз быстрее стандартных CMS
            li.page-head__animate-item 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              | Закрытый безопасный код, полное шифрование данных
            li.page-head__animate-item 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check') 
              | Неограниченное масштабирование функционала
            li.page-head__animate-item 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              | Приватность данных, анонимность пользователей
            li.page-head__animate-item 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              | Поддержка 135+ валют и систем платежей

        a(href="#about-technology" data-scroll).button.button_style-1.home-screen__button.technology-screen__button.page-head__animate-item 
          span Ознакомиться подробнее
          svg.icon
            use(xlink:href='./img/icons/icons.svg#right-down')

      .home-screen__image.technology-screen__image.image 
        img(data-src="./img/technology.png", alt="image").lazyload

  section.section.about-technology#about-technology
    .container 
      h2.about-technology__title Суть технологии EngineX
      .about-technology__text-content.row 
        p.col-lg-6 Технологически рынок меняется очень динамично и то, что было актуально вчера — завтра уже будет забыто либо просто неэффективно.<br> Но есть определенные факторы, которые будут актуальны всегда — безопасность + скорость + стабильность + удобство.
        p.col-lg-6 Они нужны всем и всегда. В итоге это и стало ключевым звеном нашей инновации — объединить технически эти факторы и дать рабочий инструмент, в первую очередь, для стартапов и Saas-платформ.
      .about-technology__container 
        .about-technology__large-block.slide-bg-card(data-touch-hover) 
          .image.image_contain 
            img(src="./img/all-in-one.png", alt="icon").lazyload
          h2.about-technology__large-block-title All-in-One
        .about-technology__block.slide-bg-card(data-touch-hover) 
          .image.image_contain
            img(src="./img/icon-bank.png", alt="icon").lazyload
          h5.about-technology__block-title Безопасность +<br> Скорость
        .about-technology__block.slide-bg-card(data-touch-hover) 
          .image.image_contain 
            img(src="./img/llfld].png", alt="icon").lazyload
          h5.about-technology__block-title Валютный<br> шлюз
        .about-technology__block.slide-bg-card(data-touch-hover) 
          .image.image_contain 
            img(src="./img/Icon-phone.png", alt="icon").lazyload
          h5.about-technology__block-title Удобство<br> администрирования
        .about-technology__block.slide-bg-card(data-touch-hover) 
          .image.image_contain 
            img(src="./img/stability.png", alt="icon").lazyload
          h5.about-technology__block-title Стабильность<br> системы


  section.section.section_bg-dark.what-is-included
    .container 
      h2.what-is-included__title Что входит в разработку<br> уникальной CMS-платформы
      .swiper 
        .swiper-container 
          .swiper-wrapper
            mixin slide(index, image, title)
              //item
              .swiper-slide.what-is-included__slide
                .what-is-included__slide-container(data-touch-hover)
                  .what-is-included__slide-inner
                    span.h2.what-is-included__slide-index 0#{index}
                    .image.what-is-included__slide-image(class=`what-is-included__slide-image_${index}`)
                      img(data-src=image, alt="image").lazyload
                    h4.what-is-included__slide-title !{title}

            +slide(1, "./img/development/1.svg", 'Разработка сайта на EngineX')
            +slide(2, "./img/development/2.svg", 'Написание API для работы с внешними ресурсами')
            +slide(3, "./img/development/3.png", 'Любые интеграции с внешними сервисами')
            +slide(4, "./img/development/4.svg", `Полный пакет документации по использованию CMS&nbsp;EngineX`)
            +slide(5, "./img/development/5.png", 'Настройка оборудования заказчика')
            +slide(6, "./img/development/6.svg", 'Разработка мобильных приложений')
            +slide(7, "./img/development/7.svg", 'Оптимизированная мобильная версия сайта + 100% поддержка')
            +slide(8, "./img/development/8.svg", 'Поддержка обновлений ядра EngineX. Бесплатно, навсегда.')
            
          

  section.section