.modal.modal-form#modal-form
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block
      button.modal-close(data-modal='close')
      .modal-block__head.mb-3
        h3.mb-1 Оставьте контакты ниже
        p чтобы получить расширенное предложение по EngineX
      form(action="#").modal-block__form 
        .input.mb-2
          input(type="text" name="name" placeholder='Имя' required).input__element
        .input.mb-2 
          input(type="text" name="name" placeholder='Ваш email или логин Telegram' required).input__element
        .checkbox.mb-2
          input(type="checkbox" id='politics' checked).checkbox__input
          label(for='politics').checkbox__label Я согласен с политикой конфиденциальности
        button.button.button_style-3.modal-block__button Отправить