section.section.subscribe-section 
  .container 
    .subscribe-section__head 
      h3.subscribe-section__title Подпишитесь на новости<br> компании и новые статьи в блоге
      
    form(action="").subscribe-form.subscribe-section__form 
      .input.subscribe-form__input 
        input(type="email" name="email" placeholder='Ваш email' required).input__element
      button.button.button_style-3.subscribe-form__button 
        span Подписаться
        svg(viewBox='0 0 120 30' fill='currentColor')
          circle(cx='15' cy='15' r='15')
            animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
            animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
          circle(cx='60' cy='15' r='9' fill-opacity='0.3')
            animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
            animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
          circle(cx='105' cy='15' r='15')
            animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
            animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
    
    span.subscribe-section__post-text Вы сможете отписаться в любой момент

    .image.image_contain.subscribe-section__image
      img(data-src="./img/subscribe.png", alt="image").lazyload