-var sitename = 'EngineX'

-var base = '/EngineX/build'
//-var base = ''

-var home = base +       '/'
-var technology = base + '/technology.html'
-var about = base +      '/about.html'
-var blog = base +       '/blog.html'
-var blog = base +       '/blog.html'
-var article = base +    '/article.html'